<section class="adminshops">
    <div class="row">
        <div class="col-md-8">
            <div class="box-header head">
                <img src="/public/script/www/img/tags.png" style="width: 30px;">
                <h3 class="box-title">All Product's</h3>
            </div>
            <div class="box-header">
                <h3 class="box-title"></h3>
                <a class="btn btn-default viewproduct" href="#/app/addproduct/{{0}}" style="margin-left: 62px;">Add product</a>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-init="tableview=false;itembox=true" style="float: right;
    margin-top: 22px;">
                <a ng-click="tableview=true" ng-class="{active:tableview}">
                    <span class="glyphicon glyphicon-th green-color"></span>
                </a>
                <a ng-click="tableview=false" ng-class="{active:!tableview}">
                    <span class="glyphicon glyphicon-th-list green-color"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="box" ng-show="!tableview">
        <div ng-show=" !productbyshopList.length ">
            <p style="text-align: center; "> No Data To Show</p>
        </div>
        <div ng-show="productbyshopList.length ">
            <div class="box-body table-responsive no-padding ">
                <table class="table table-hover ">
                    <tbody>
                        <tr>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Reviews</th>
                        </tr>
                        <tr ng-repeat="product in productbyshopList ">
                            <td>{{product.productName}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.noOfReviews}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a ng-if="loaDing" ng-click="productOfshop()" style="cursor:pointer; text-decoration:none;">Load more</a>
        <p ng-if="!loaDing ">Completed......</p>
    </div>
    <div class="all-products " ng-show="tableview ">
        <div ng-show="!productbyshopList.length ">
            <p style="text-align: center; "> No Data To Show</p>
        </div>
        <div ng-show="productbyshopList.length ">
            <div class=" ">
                <div class="row ">
                    <div class="item " ng-repeat="product in productbyshopList " ng-class="{ active:$index==0} ">
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 product-box ">
                            <div class="row ">
                                <div class="thumbnail thumbnail-box ">
                                    <div class="similar-img " style="background-image: url(/public/script/www/img/add/3.jpg); ">
                                    </div>
                                    <div class="caption ">
                                        <div class="row ">
                                            <div class="row border-colour ">Click for More</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style ">
                                                {{product.shopName}}</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding ">
                                                <p><a class=" font-size-contents " href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}} "><b >{{product.productName}}</b></a>
                                                </p>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-bottom-style ">
                                                <p>{{product.city}}</p>
                                            </div>
                                            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-left-style ">
                                                <div class="row ">
                                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 ">
                                                        <img width="10px " height="10px " src="/public/script/www/img/color/phone-receiver.png ">
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 " style="padding-left: 0px; ">
                                                        <p>{{product.productId}}</p>
                                                    </div>
                                                    <div class="col-md-5 "></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color ">Specials
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style ">
                                                <p><b class=" font-size-contents ">{{product.price}}</b><i class="fa fa-inr " style="font-size:10px;color:black "></i></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a ng-if="loaDing" ng-click="productOfshop()" style="cursor:pointer; text-decoration:none;">Load more</a>
                <p ng-if="!loaDing ">Completed......</p>
            </div>
        </div>
    </div>
</section>
