<!-- /page content -->
<!-- latesrt -->
<!-- page content -->
<div ng-if="langval==1">
  
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <div ng-if="ofid==0">
          <h3>Add Offer </h3>
        </div>
        <div ng-if="ofid!=0">
          <h3>Edit Offer </h3>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Offer Informations <small><!-- different form elements --></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerName">Offer Name En <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="offer.offerName" id="offerName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerNameAr">Offer Name Ar <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="offer.offerNameAr" id="offerNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description En <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="offer.description" id="description" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descriptionAr">Description Ar <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="offer.descriptionAr" id="descriptionAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerStarts">Offer Start Date <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="date" data-ng-model="offer.offerStarts" id="offerStarts" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerEnds">Offer End Date <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="date" data-ng-model="offer.offerEnds" id="offerEnds" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div ng-if="field2==0">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerPercentage">Offer Percentage <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" placeholder="Offer Rate is Choosed" data-ng-model="offer.offerPercentage" id="offerPercentage" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                </div>
              </div>
              <div ng-if="field2==1">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerPercentage">Offer Percentage <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" ng-change="selectone(offer.offerPercentage)" data-ng-model="offer.offerPercentage" id="offerPercentage" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div>
              </div>
              <h4 style="text-align: center;">OR</h4>
              <div ng-if="field1==0">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerRate">Offer Rate <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" placeholder="Offer Percentage is Choosed" id="offerRate" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                </div>
              </div>
              <div ng-if="field1==1">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerRate">Offer Rate <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" ng-change="selectonetwo(offer.offerRate)" data-ng-model="offer.offerRate" id="offerRate" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div>
              </div>
              <!--    <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commision">Commision <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="number" data-ng-model="category.commision" id="commision" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div> -->
              <!--  <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Service Category / Product Category</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :category.serviceOrProduct==1  }" ng-click="category.serviceOrProduct=1"> product</div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :category.serviceOrProduct==0 }" ng-click="category.serviceOrProduct=0"> Service</div>
                </div>
              </div> -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Offer Status</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :offer.status==0  }" ng-click="offer.status=0"> Deactive</div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :offer.status==1  }" ng-click="offer.status=1"> Active</div>
                </div>
              </div>
              <h2>Images</h2>
              <hr>
              <div class="col-md-4">
                <div class="fileupload file-uplaod-btn">
                  <div class="form-group">
                    <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                    <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Offer Image </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6" ng-model="offer.imageName">
                    <div class="img-wraps">
                      {{offer.imageName}}
                      <span class="closes" ng-if="!isFileuploadStart&& offer.imageName" title="Delete" ng-click="deleteimage(offer.imageName)">&times;</span>
                      <img style="min-width:100%" ng-src="{{imageUrl}}{{offer.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& offer.imageName">
                      <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
               <div class="row">
            <div class="col-md-12">
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" ng-click="addOffer(offer);">Submit</button>
              </div>
            </div>
          </div>
           </form>
          </div>
         
        </div>
        <hr>
       
      </div>
    </div>
  </div>
</div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_right pull-right">
        <div ng-if="ofid==0">
          <h3>أضف عرض </h3>
        </div>
        <div ng-if="ofid!=0">
          <h3>تحرير العرض </h3>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="pull-right">معلومات حول العرض <small><!-- different form elements --></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="offer.offerName" id="offerName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerName">اسم العرض باللغة الإنجليزية  <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="offer.offerNameAr" id="offerNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerNameAr">اسم العرض باللغة العربية <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <textarea type="text" data-ng-model="offer.description" id="description" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">الوصف باللغة الإنجليزية <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <textarea type="text" data-ng-model="offer.descriptionAr" id="descriptionAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descriptionAr">الوصف باللغة العربية <span class="required">*</span>
                </label>
               
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="Date" data-ng-model="offer.offerStarts" id="offerStarts" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerStarts">تاريخ بدء العرض   <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="Date" data-ng-model="offer.offerEnds" id="offerEnds" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerEnds">تاريخ انتهاء العرض    <span class="required">*</span>
                </label>
                
              </div>
              <div ng-if="field2==0">
                <div class="form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" placeholder="Offer Rate is Choosed" data-ng-model="offer.offerPercentage" id="offerPercentage" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerPercentage">نسبة العرض    <span class="required">*</span>
                  </label>
                 
                </div>
              </div>
              <div ng-if="field2==1">
                <div class="form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" ng-change="selectone(offer.offerPercentage)" data-ng-model="offer.offerPercentage" id="offerPercentage" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerPercentage">نسبة العرض <span class="required">*</span>
                  </label>
                 
                </div>
              </div>
              <h4 style="text-align: center;"><b>أو  </b></h4>
              <div ng-if="field1==0">
                <div class="form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" placeholder="Offer Percentage is Choosed" id="offerRate" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerRate">سعر العرض    <span class="required">*</span>
                  </label>
                 
                </div>
              </div>
              <div ng-if="field1==1">
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" ng-change="selectonetwo(offer.offerRate)" data-ng-model="offer.offerRate" id="offerRate" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerRate">سعر العرض <span class="required">*</span>
                  </label>
                  
                </div>
              </div>
              <!--    <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commision">Commision <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="number" data-ng-model="category.commision" id="commision" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div> -->
              <!--  <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Service Category / Product Category</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :category.serviceOrProduct==1  }" ng-click="category.serviceOrProduct=1"> product</div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :category.serviceOrProduct==0 }" ng-click="category.serviceOrProduct=0"> Service</div>
                </div>
              </div> -->
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :offer.status==0  }" ng-click="offer.status=0"> غير نشطة  </div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :offer.status==1  }" ng-click="offer.status=1"> شطة  </div>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12">حالة</label>
               
              </div>
              <h2>صور</h2>
              <hr>
              <div class="col-md-4 pull-right">
                <div class="fileupload file-uplaod-btn">
                  <div class="form-group">
                    <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                    <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + انقر هنا لتحميل صورة العرض </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-model="offer.imageName">
                    <div class="img-wraps">
                      {{offer.imageName}}
                      <span class="closes" ng-if="!isFileuploadStart&& offer.imageName" title="Delete" ng-click="deleteimage(offer.imageName)">&times;</span>
                      <img style="min-width:100%" ng-src="{{imageUrl}}{{offer.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& offer.imageName">
                      <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
               <div class="row">
            <div class="col-md-12">
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" ng-click="addOffer(offer);">سجيل  </button>
              </div>
            </div>
          </div>
           </form>
          </div>
         
        </div>
        <hr>
       
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- /page content -->
