
<div ng-if="langval==1">
  
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>View Offer </h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Offer Informations <small><!-- different form elements --></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerName">Offer Name En <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="offer.offerName" id="offerName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerNameAr">Offer Name Ar <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="offer.offerNameAr" id="offerNameAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description En <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="offer.description" id="description" required="required" class="form-control col-md-7 col-xs-12" readonly="true" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descriptionAr">Description Ar <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="offer.descriptionAr" id="descriptionAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerStarts">Offer Start Date <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="offer.offerStarts|date" id="offerStarts" readonly="true" class="form-control col-md-7 col-xs-12" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerEnds">Offer End Date <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="offer.offerEnds|date" id="offerEnds" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerPercentage">Offer Percentage <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" ng-change="selectone(offer.offerPercentage)" data-ng-model="offer.offerPercentage" id="offerPercentage" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
              </div>
              <h4 style="text-align: center;">OR</h4>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerRate">Offer Rate <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" ng-change="selectonetwo(offer.offerRate)" data-ng-model="offer.offerRate" id="offerRate" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Offer Status <span class="required"></span>
                </label>
                <div ng-if="offer.status==0" class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" value="Deactivated" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
                <div ng-if="offer.status==1" class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" value="Active" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
              </div>
              <h2>Images</h2>
              <hr>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6" ng-model="offer.imageName">
                    <div class="img-wraps">
                      {{offer.imageName}}
                      <!-- <span class="closes" ng-if="!isFileuploadStart&& offer.imageName" title="Delete" ng-click="deleteimage(offer.imageName)">&times;</span> -->
                      <img style="min-width:100%" ng-src="{{imageUrl}}{{offer.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& offer.imageName">
                      <!--  <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart> -->
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="box-footer">
                    <a href="#/admin/offer" button type="submit" class="btn btn-primary">Close</button></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <hr>
      
      </div>
    </div>
  </div>
</div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_right pull-right">
        <h3>عرض </h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="pull-right">معلومات حول العرض <small><!-- different form elements --></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <!-- <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerName">Offer Name En <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="offer.offerName" id="offerName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
              </div> -->
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="offer.offerNameAr" id="offerNameAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerNameAr">اسم العرض   <span class="required"></span>
                </label>
               
              </div>
              <!-- <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description En <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="offer.description" id="description" required="required" class="form-control col-md-7 col-xs-12" readonly="true" rows="6"></textarea>
                </div>
              </div> -->
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <textarea type="text" data-ng-model="offer.descriptionAr" id="descriptionAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" rows="6"></textarea>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descriptionAr">وصف   <span class="required"></span>
                </label>
               
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="offer.offerStarts|date" id="offerStarts" readonly="true" class="form-control col-md-7 col-xs-12" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerStarts">تاريخ بدء العرض    <span class="required"></span>
                </label>
                
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="offer.offerEnds|date" id="offerEnds" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerEnds">تاريخ انتهاء العرض    <span class="required"></span>
                </label>
                
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" ng-change="selectone(offer.offerPercentage)" data-ng-model="offer.offerPercentage" id="offerPercentage" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerPercentage">نسبة العرض    <span class="required"></span>
                </label>
               
              </div>
              <h4 style="text-align: center;"><b> أو  </b> </h4>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" ng-change="selectonetwo(offer.offerRate)" data-ng-model="offer.offerRate" id="offerRate" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerRate">سعر العرض    <span class="required"></span>
                </label>
                
              </div>
              <div class="form-group">
                 <div ng-if="offer.status==0" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" value=" غير نشطة  " id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
                <div ng-if="offer.status==1" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" value="شطة  " id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">حالة <span class="required"></span>
                </label>
               
              </div>
              <h2>صور  </h2>
              <hr>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-model="offer.imageName">
                    <div class="img-wraps">
                      {{offer.imageName}}
                      <!-- <span class="closes" ng-if="!isFileuploadStart&& offer.imageName" title="Delete" ng-click="deleteimage(offer.imageName)">&times;</span> -->
                      <img style="min-width:100%" ng-src="{{imageUrl}}{{offer.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& offer.imageName">
                      <!--  <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart> -->
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="box-footer">
                    <a href="#/admin/offer" button type="submit" class="btn btn-primary">أغلق</button></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <hr>
      
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- /page content -->
