<div ng-if="langval==1">
  
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <div ng-if="subcati==0">
          <h3>Add Subcategory </h3>
        </div>
        <div ng-if="subcati!=0">
          <h3>Assign Offer </h3>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Offer Informations <small></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" form-autofill-fix>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sellerName">Offer <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select ng-options="offer.offerId as offer.offerName for offer in offers" class="form-control" ng-model="ofrid">
                  </select>
                </div>
              </div>
            <!--   <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subCategoryName">Subcategory Name En<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="subcategory.subCategoryName" id="subCategoryName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subCategoryNameAr">Subcategory Name Ar<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="subcategory.subCategoryNameAr" id="subCategoryNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discription">Description En <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="subcategory.discription" id="discription" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discriptionAr">Description Ar <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="subcategory.discriptionAr" id="discriptionAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rank">Rank <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="number" data-ng-model="subcategory.rank" id="rank" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Subcategory Status</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :subcategory.status==0  }" ng-click="subcategory.status=0"> Deactive</div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :subcategory.status==1  }" ng-click="subcategory.status=1"> Active</div>
                </div>
              </div> -->
         <!--      <h2>Images</h2>
              <hr>
              <div class="col-md-4">
                <div class="fileupload file-uplaod-btn">
                  <div class="form-group">
                    <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                    <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Subcategory Image </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6" ng-model="subcategory.imageName">
                    <div class="img-wraps">
                      {{subcategory.imageName}}
                      <span class="closes" ng-if="!isFileuploadStart&& subcategory.imageName" title="Delete" ng-click="deleteimage(subcategory.imageName)">&times;</span>
                      <img style="min-width:100%" ng-src="{{imageUrl}}{{subcategory.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& subcategory.imageName">
                      <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                    </div>
                  </div>
                </div>
                <hr>
              </div> -->
              <!-- </div> -->
              <div class="row">
                <div class="col-md-12">
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary" ng-click="assignoffertoproduct(ofrid);">Submit</button>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <hr>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- /page content -->



<div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_right pull-right">
        <div ng-if="subcati==0">
          <h3 >إضافة فئة فرعية </h3>
        </div>
        <div ng-if="subcati!=0">
          <h3 >تحرير الفئة الفرعية </h3>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="pull-right">معلومات   فئه فرعية <small></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12  col-md-offset-3">
                  <select ng-options="category.categoryId as category.categoryNameAr for category in categories" class="form-control" ng-model="subcategory.categoryId">
                  </select>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sellerName">الفئه <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12  col-md-offset-3">
                  <input type="text" data-ng-model="subcategory.subCategoryName" id="subCategoryName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subCategoryName">اسم الفئه الفرعيه  باللغة الإنجليزية  <span class="required">*</span>
                </label>
               
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12  col-md-offset-3">
                  <input type="text" data-ng-model="subcategory.subCategoryNameAr" id="subCategoryNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subCategoryNameAr">اسم الفئه الفرعيه   بالعربية   <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12  col-md-offset-3">
                  <textarea type="text" data-ng-model="subcategory.discription" id="discription" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"> </textarea>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discription">وصف الفئه الفرعيه باللغة الإنجليزية  <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12  col-md-offset-3">
                  <textarea type="text" data-ng-model="subcategory.discriptionAr" id="discriptionAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discriptionAr">ووصف الفئه الفرعيه بالعربية  <span class="required">*</span> 
                </label>
               
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12  col-md-offset-3">
                  <input type="number" data-ng-model="subcategory.rank" id="rank" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rank">مرتبة <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12  col-md-offset-3">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :subcategory.status==0  }" ng-click="subcategory.status=0"> ير نشطه  </div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :subcategory.status==1  }" ng-click="subcategory.status=1"> شطه  </div>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12">حالة الفئه الفرعيه  </label>
               
              </div>
              <h2>صور  </h2>
              <hr>
              <div class="col-md-4 pull-right">
                <div class="fileupload file-uplaod-btn">
                  <div class="form-group">
                    <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                    <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + اضغط هنا لتحميل الصورة </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-model="subcategory.imageName">
                    <div class="img-wraps">
                      {{subcategory.imageName}}
                      <span class="closes" ng-if="!isFileuploadStart&& subcategory.imageName" title="Delete" ng-click="deleteimage(subcategory.imageName)">&times;</span>
                      <img style="min-width:100%" ng-src="{{imageUrl}}{{subcategory.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& subcategory.imageName">
                      <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <!-- </div> -->
              <div class="row">
                <div class="col-md-12">
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary" ng-click="addSubCategory(subcategory);">تسجيل</button>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <hr>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- /page content -->
