<h3>Acceptance</h3>
 <div class="row" style="ma">
                    <div class="col-lg-offset-3 col-lg-6  ">
                        <!-- TABLE STRIPED -->
                        <div class="panel" style="text-align: center">
                        <h4><b>Are you sure want to activate </b></h4>
                        <br>
                        <h4>Store Name : {{itemrequest.storeName}}</h4>
                        <h4>Item Name : {{itemrequest.itemName}}</h4>
                        <br>
                        <br>
                        


                                <div class="box-footer " style="margin-bottom: 15px;">
                                        <a href="#/admin/storeitemrequests" class="btn btn-primary " style="margin-right: 130px;" >No</button></a>
                                        <button type="submit" class="btn btn-primary" ng-click="addrequesteditem(itemrequest);">Yes</button>
                                    </div>



                        	</div>
                        </div>
                    </div>