<!-- page content -->
<div ng-if="langval==1">
  
    <div class="right_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Product Stock Management </h3>
          </div>
          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input class="form-control  " placeholder="Search..." type="text" ng-change="productSearchwithName(ProductSearch)" data-ng-model="ProductSearch" />
                <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- /form input knob -->
        <div class="row">
          <div class="col-lg-12">
            <!-- TABLE STRIPED -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <div class="panel-body">
                  <table class="table table-responsive table-striped">
                    <tr>
                      <th>#</th>
                      <th>Product Name </th>
                      <th>Subcategory </th>
                      <th>Category</th>
                      <!--  <th>Seller </th> -->
                      <th>Remaining(Count) </th>
                      <th>Actions</th>
                    </tr>
                    <tr ng-repeat="product in products">
                      <td>{{$index+1+productPageVo.currentIndex}}.</td>
                      <td>{{product.productName}}</td>
                      <td>{{product.subcategoryName}}</td>
                      <td>{{product.categoryName}}</td>
                      <td>{{product.numberOfItemsRemaining}}</td>
                      <!--   <td>{{product.sellerName}}</td> -->
                      <th><a ng-click="viewproduct(product)"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="stockmanage(product)"><i class="fa fa-plus text-aqua"></i></a>
                      </th>
                    </tr>
                    <tr ng-if="noproducts==1">
                      <td colspan="6" class="text-center"> <strong><h3>There Is No Matching Product </h3></strong> </td>
                    </tr>
                  </table>
                </div>
              </div>
              <ul class="pagination">
                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getproduct($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right">
          <!--   <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input class="form-control  " placeholder="Search..." type="text" ng-change="productSearchwithName(ProductSearch)" data-ng-model="ProductSearch" />
                <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
              </div>
            </div> -->
             <div class="col-md-5 col-sm-5 col-xs-12 form-group">
          <div class="input-group">
            <input class="form-control  " placeholder="بحث..." type="text" ng-change="productSearchwithNameAr(ProductSearch)" data-ng-model="ProductSearch" style="
    box-shadow: inset 0 1px 0 rgba(0,0,0,.075);
    border-radius: 0 25px 25px 0;
    padding-right: 20px;
    border: 1px solid rgba(221,226,232,.49);
    height: 37px;
    /* line-height:  45px; */
" />
            <span class="input-group-btn " >
                                <button type="button" class="btn btn-flat" style="    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 2px;
    margin-bottom: 0px;
"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </div>
           
          </div>
          <div class="title_left">
             <h3>إدارة المخزون المنتج </h3>
            
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- /form input knob -->
        <div class="row">
          <div class="col-lg-12">
            <!-- TABLE STRIPED -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <div class="panel-body">
                  <table class="table table-responsive table-striped">
                    <tr>
                      <th class="text-right">#</th>
                      <th class="text-right">اسم المنتج </th>
                      <th class="text-right">فئه فرعية </th>
                      <th class="text-right">الفئه</th>
                      <!--  <th>Seller </th> -->
                      <th class="text-right">المتبقية (عدد) </th>
                      <th class="text-right">الاجراءت  </th>
                    </tr>
                    <tr ng-repeat="product in products">
                      <td>{{$index+1+productPageVo.currentIndex}}.</td>
                      <td>{{product.productNameAr}}</td>
                      <td>{{product.subcategoryNameAr}}</td>
                      <td>{{product.categoryNameAr}}</td>
                      <td>{{product.numberOfItemsRemaining}}</td>
                      <!--   <td>{{product.sellerName}}</td> -->
                      <th class="text-right"><a ng-click="viewproduct(product)"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="stockmanage(product)"><i class="fa fa-plus text-aqua"></i></a>
                      </th>
                    </tr>
                    <tr ng-if="noproducts==1">
                      <td colspan="6" class="text-center"> <strong><h3>لا يوجد منتج مطابق </h3></strong> </td>
                    </tr>
                  </table>
                </div>
              </div>
              <ul class="pagination">
                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getproduct($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
