<!-- page content -->
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Add Product </h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- /form input knob -->
    <div class="row">
      <div class="col-lg-3 pull-right">
        <a href="#/admin/product" class="btn btn-block btn-primary " role="button">Back to Products</a>
      </div>
    </div>
    <div class="row">
      <div class="panel">
        <div class="panel-heading">
          <!--  <h2 class="panel-title "><b>Add Item Type </b></h2>-->
        </div>
        <form role="form" name="addproductForm">
          <div class="panel-body">
        <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"><span class="glyphicon glyphicon-file">
                            </span>DETAILS</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div ng-if="pId!=0">
                <div class="form-group">
                  <label for="categoryName">Category</label>
                  <input class="form-control" data-ng-model="product.categoryName" id="categoryName" data-ng-readonly="true" readonly="readonly" type="text" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label>Select Category <span ng-if="pId!=0">To Change </span> </label>
                <select ng-options="category.categoryId as category.categoryName for category in categories" class="form-control" ng-change="changeCategory(product.categoryId)" ng-model="product.categoryId">
                 
                </select>
              </div>
              <div ng-if="pId!=0">
                <div class="form-group">
                  <label for="subcategoryName">SubCategory</label>
                  <input class="form-control" data-ng-model="product.subcategoryName" id="subcategoryName" data-ng-readonly="true" readonly="readonly" type="text" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label>Select Sub Category <span ng-if="pId!=0">To Change </span></label>
                <select class="form-control" ng-change="" ng-model="product.subcategoryId" ng-options="subcategory.subCategoryId as subcategory.subCategoryName for subcategory in subcategoriesbycategories">
                </select>
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.productName.$invalid &amp;&amp; !addproductForm.productName.$pristine}">
                <label for="productName">Product Name</label>
                <input class="form-control" data-ng-model="product.productName" name="productName" id="productName" placeholder="Enter productName" type="text" required="required" />
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.productNameAr.$invalid &amp;&amp; !addproductForm.productNameAr.$pristine}">
                <label for="productNameAr">productNameAr :خلخال</label>
                <input class="form-control" data-ng-model="product.productNameAr" name="productNameAr" id="productNameAr" placeholder=" اسم الصنف" type="text" required="required" />
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.color.$invalid &amp;&amp; !addproductForm.color.$pristine}">
                <label>Color</label>
                <input class="form-control" data-ng-model="product.color" id="color" placeholder="Enter color" type="text" required="required" />
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.colorAr.$invalid &amp;&amp; !addproductForm.colorAr.$pristine}">
                <label>Color Ar</label>
                <input class="form-control" data-ng-model="product.colorAr" id="colorAr" placeholder="Enter color in arabic" type="text" required="required" />
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.productQuantity.$invalid &amp;&amp; !addproductForm.productQuantity.$pristine}">
                <label for="price">Quantity &nbsp;&nbsp;&nbsp;&nbsp; سعر البيع</label>
                <input class="form-control" data-ng-model="product.productQuantity" name="productQuantity" id="productQuantity" placeholder="Enter Quantity" type="number" required="required" />
                <br>
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.shippingCharge.$invalid &amp;&amp; !addproductForm.shippingCharge.$pristine}">
                <label for="shippingCharge">Shipping Charge </label>
                <input class="form-control" data-ng-model="category.shippingCharge" name="shippingCharge" id="shippingCharge" placeholder="Enter Commision" type="number" required="required" />
              </div>
              
             <!-- <div class="form-group">
                <label>Related Products  </label>
                <select class="form-control" ng-change="" ng-model="product.connectedProductsId">
                  <option ng-repeat="product in products" ng-value="product.productId">{{product.productName}}</option>
                </select>
              </div> -->
             <!-- <div class="form-group">
  <label for="relation">Relation On</label>
  <select class="form-control" id="relation">
     <option></option>
    <option>COLOUR</option>
    <option>MATERIAL</option>
    <option>TYPE</option>
    <option>CAPACITY</option>
     <option>SIZE</option>
      <option>LENGTH</option>
       <option>WIDTH</option>
        <option>HEIGHT</option>
         <option>WEIGHT</option>
  </select>
</div> -->
                                    <!-- <div class="form-group">
                                        <label for="grant2">Grant# (alternative)</label>
                                        <input type="text" class="form-control" id'grant2' placeholder="GRANT# (Alternare)" required />
                                    </div> -->
                                   <!--  <div class="form-group">
                                        <label for="grantparent">Grant# (Parent)</label>
                                        <select class="form-control" id="grantparent">
                                            <option></option>
                                            <option>Data1772457</option>
                                            <option>Data4516</option>
                                            <option>Data24572457</option>
                                        </select>
                                    </div> -->
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.description.$invalid &amp;&amp; !addproductForm.description.$pristine}">
                <label for="description">Product Descriptions </label>
                <textarea class="form-control" data-ng-model="product.description" name="description" id="description" placeholder="Product Description" required="required" rows="2"></textarea>
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.descriptionAr.$invalid &amp;&amp; !addproductForm.descriptionAr.$pristine}">
                <label for="descriptionAr"> Product Description Ar</label>
                <textarea class="form-control" data-ng-model="product.descriptionAr" name="descriptionAr" id="descriptionAr" placeholder=" وصف الصنف " required="required" rows="2"></textarea>
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.price.$invalid &amp;&amp; !addproductForm.price.$pristine}">
                <label for="price">Selling Price &nbsp;&nbsp;&nbsp;&nbsp; سعر البيع</label>
                <input class="form-control" data-ng-model="product.price" name="price" id="price" placeholder="Enter Selling Price" type="currency" required="required" />
                <br>
              </div>
              <div class="form-group">
                <label>Tax </label>
                <select class="form-control" ng-change="" ng-model="product.taxId">
                  <option ng-repeat="tax in taxes" ng-value="tax.taxId">{{tax.taxName}}</option>
                </select>
              </div>
                                    <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.status.$invalid &amp;&amp; !addproductForm.status.$pristine}">
                <label for="status">Product Status &nbsp;&nbsp;&nbsp;&nbsp; حالة الصنف</label>
                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" name="status" ng-model="product.status" value="1">Active</label>
                <label class="radio-inline">
                  <input type="radio" name="status" ng-model="product.status" value="0"> Discontinued</label>
                <br>
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.delivaryStatus.$invalid &amp;&amp; !addproductForm.delivaryStatus.$pristine}">
                <label for="delivaryStatus">Delivery Status &nbsp;&nbsp;&nbsp;&nbsp; </label>
                <br> &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" value="0" ng-model="product.delivaryStatus" value="0">Pickup from the Store</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" name="delivaryStatus" value="1" ng-model="product.delivaryStatus">Delivery Available</label>
              </div>
   
                                   <!--  <div class="form-group">
                                    <label for="title">Title</label>
                                        <input type="text" class="form-control" id='shorttitle' placeholder="Dentistry Includes Nutrition Reminders (DINR)" required />
                                    </div> -->
                                    <!-- <div class="form-group">
                                    <label for="suplimenta">Suplimental Grants</label>
                                        <input type="text" class="form-control" id='suplimenta' required />
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- New Added Accoprdion -->
             <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree"><span class="glyphicon glyphicon-th-list">
                            </span>Related Products</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">

                                <!--   #######

                                   <div class="form-group">
                                    <label>Country</label> 
                                  
     <select  ng-options="country.countryId as country.countryName for country in countries" class="form-control"   ng-model="city.countryId">
           
                
              </select>

                                </div>


                                  ########## -->
                                    <div class="form-group">
                                        <label for="relation">Relation</label>
                                        <select  ng-options="relation.modeId as relation.name for relation in relations" class="form-control"   ng-model="modeId">
           
                
              </select>
                                    </div>
                                </div>
                                <br>

                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Related Product..." ng-model="productName">
            <span class="input-group-btn">
                      <!-- <button class="btn btn-default" type="button">Go!</button> -->
                       <a ng-click="productSearch(productName)" class="btn btn-default"
                            type="button">Go</a>
                    </span>
          </div>
        </div>

        <div class="x_content">

                    <div class="row">

                      <p>Products</p>

                      <div class="col-md-55" ng-repeat="product in productsforrelated">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="{{imageUrl}}{{product.imageName}}" alt="image">
                            <div class="mask">
                              <p>Your Text</p>
                              <div class="tools tools-bottom">
                               <!--  <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a> -->
                                <a ng-click="chooseproduct(product,modeId)"><i class="glyphicon glyphicon-ok"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p>{{product.productName}}</p>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-md-55">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                            <div class="mask">
                              <p>Your Text</p>
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p>Snow and Ice Incoming for the South</p>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="col-md-55">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                            <div class="mask">
                              <p>Your Text</p>
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p>Snow and Ice Incoming for the South</p>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="col-md-55">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                            <div class="mask">
                              <p>Your Text</p>
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p>Snow and Ice Incoming for the South</p>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="col-md-55">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                            <div class="mask">
                              <p>Your Text</p>
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p>Snow and Ice Incoming for the South</p>
                          </div>
                        </div>
                      </div>
 -->

                      <!-- <div class="col-md-55">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                            <div class="mask no-caption">
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p><strong>Image Name</strong>
                            </p>
                            <p>Snow and Ice Incoming</p>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="col-md-55">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                            <div class="mask no-caption">
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p><strong>Image Name</strong>
                            </p>
                            <p>Snow and Ice Incoming</p>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="col-md-55">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                            <div class="mask no-caption">
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p><strong>Image Name</strong>
                            </p>
                            <p>Snow and Ice Incoming</p>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="col-md-55">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                            <div class="mask no-caption">
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p><strong>Image Name</strong>
                            </p>
                            <p>Snow and Ice Incoming</p>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="col-md-55">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                            <div class="mask no-caption">
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p><strong>Image Name</strong>
                            </p>
                            <p>Snow and Ice Incoming</p>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                                <!-- <div class="col-md-6">
                                    <div class="well well-sm well-primary">
                                        <label for="grantor">Ser</label>
                                        <select class="form-control" id="grantor">
                                            <option>Data1772457</option>
                                            <option>Data4516</option>
                                            <option>Data24572457</option>
                                        </select>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

               <!--  ############ -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"><span class="glyphicon glyphicon-th-list">
                            </span>Images</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="grantpo">Grant PO</label>
                                        <select class="form-control" id="grantpo">
                                            <option>Data1772457</option>
                                            <option>Data4516</option>
                                            <option>Data24572457</option>
                                        </select>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-6">
                                    <div class="well well-sm well-primary">
                                        <label for="grantor">Grantor</label>
                                        <select class="form-control" id="grantor">
                                            <option>Data1772457</option>
                                            <option>Data4516</option>
                                            <option>Data24572457</option>
                                        </select>
                                    </div>
                                </div> -->
                                 <div class="col-md-12">
              <h2>Images</h2>
              <hr>
              <div class="fileupload file-uplaod-btn">
                <div class="form-group">
                  <input type="file" ng-model="file" name="file" multiple ngf-select="upload($file)" />+ Upload Product Images
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6" ng-repeat="img in product.featureOrPhotos">
                    <div class="img-wraps">
                      {{img}}
                      <span class="closes" title="Delete" ng-click="deleteimage(img.data)">&times;</span>
                      <img style="min-width:100%" ng-src="{{imageUrl}}{{img.data}}" class="img-thumbnail" ng-if="!img.isLoadin">
                      <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="img.isLoadin">
                    </div>
                  </div>
                </div>
                <hr>
                <br>
                <br>
                <div class="box-footer ">
                  <button type="submit" class="btn btn-primary" ng-click="addProduct(product);">Submit</button>
                </div>
              </div>
              <!-- <div class="box-footer">
              <button type="submit" class="btn btn-primary" ng-click="addProduct(product);">Submit</button>
            </div> -->
              <!-- <div class="box-footer ">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div> -->
            </div>
          </div>
        </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
       