
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Edit Product </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
      <div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/item" class="btn btn-block btn-primary " role="button">Back to Items</a>
                                    </div>
                
                </div>
                
                <div class="row">
                    
                   
                    <div class="panel">
								<div class="panel-heading">
								<!--	<h2 class="panel-title "><b>Add Item Type </b></h2>-->
								</div>
                        <form role="form" name="additemForm"
						data-ng-submit="addItem ()">
								<div class="panel-body">
                                    <div class="col-lg-6">
                                        <div class="form-group">
									<label for="store">Store &nbsp;&nbsp;&nbsp;&nbsp; المحل</label> <select
										class="form-control"
										data-ng-options="x.storename for x in stores"
										data-ng-model="item.store"
										data-ng-change="changeStore(x)" id="store">
									</select>

								</div>
								
                                        <div class="form-group">
									<label for="category">Category &nbsp;&nbsp;&nbsp;&nbsp; الفئة</label> <select
										class="form-control"
										data-ng-options="x.categoryName for x in categories"
										data-ng-model="item.category"
										data-ng-change="changeCategory(x)" id="category">
									</select>

								</div>
                                        <div class="form-group">
									<label for="itemtype">Item Type &nbsp;&nbsp;&nbsp;&nbsp; نوع الصنف</label> <select
										class="form-control"
										data-ng-options="x.categoryName for x in itemtypes"
										data-ng-model="item.itemtype"
										data-ng-change="changeItemtype(x)" id="itemtype">
									</select>

								</div>
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : additemForm.itemName.$invalid &amp;&amp; !categoryForm.itemName.$pristine}">
									<label for="itemName">Item Name</label> <input
										class="form-control" data-ng-model="item.itemName"
										name="itemName" id="itemName" placeholder="Enter item Name"
										type="text" required="required" /> 
								</div>
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : additemForm.itemNamear.$invalid &amp;&amp; !categoryForm.itemNamear.$pristine}">
									<label for="itemNamear"> اسم الصنف</label> <input
										class="form-control" data-ng-model="item.itemNamear"
										name="itemNamear" id="itemNamear" placeholder=" اسم الصنف"
										type="text" required="required" /> 
								</div>
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : additemForm.description.$invalid &amp;&amp; !additemForm.description.$pristine}">
									<label for="description">Item Descriptions  </label>
									<textarea class="form-control"
										data-ng-model="item.description" name="description"
										id="description" placeholder="Item Description" required="required"
										rows="2"></textarea>

								</div>
                                        
                                    </div>
                                    <div class="col-lg-6">
                                         <div class="form-group"
									data-ng-class="{ 'has-error' : additemForm.descriptionar.$invalid &amp;&amp; !additemForm.descriptionar.$pristine}">
									<label for="descriptionar"> وصف الصنف </label>
									<textarea class="form-control"
										data-ng-model="item.description" name="descriptionar"
										id="descriptionar" placeholder=" وصف الصنف " required="required"
										rows="2"></textarea>

								</div>
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : additemForm.sellingprice.$invalid &amp;&amp; !additemForm.sellingprice.$pristine}">
									<label for="sellingprice">Selling Price &nbsp;&nbsp;&nbsp;&nbsp;  سعر البيع</label> <input
										class="form-control" data-ng-model="item.sellingprice"
										name="sellingprice" id="sellingprice" placeholder="Enter Selling Price"
										type="currency" required="required" /> <br>
								</div>
									
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : additemForm.itemstatus.$invalid &amp;&amp; !additemForm.itemstatus.$pristine}">
									<label for="itemstatus">Item  Status  &nbsp;&nbsp;&nbsp;&nbsp; حالة الصنف</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="itemstatus" ng-model="item.itemstatus">Active</label>
                                        <label class="radio-inline"><input type="radio" name="itemstatus"ng-model="item.itemstatus">Discontinued</label><br>
                                        
                                       
								</div>
                                         
                                        
                                        
                                        <div class="form-group" >
										 <label for="itemimage">Item Image  &nbsp;&nbsp;&nbsp;&nbsp; صور الصنف</label> <input type="file" 
											id="itemimage" name="itemimage" data-file-model="item.image" data-ng-model="item.images"/><br>
										
									</div>
                                        
                                        
                                                          
                                        
                                        <div class="box-footer ">
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
                    </div>
                </div>
                        </form>
        <!-- /page content -->

            

       