
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add SubCategory </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
        <div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/itemtype" class="btn btn-block btn-primary " role="button">Back to Item type</a>
                                    </div>
                
                </div>
                
                <div class="row">
                    
                    
                    <div class="panel">
								<div class="panel-heading">
								<!--	<h2 class="panel-title "><b>Add Item Type </b></h2>-->
								</div>
                        <form role="form" name="subcategoryForm">
								<div class="panel-body">

								<!-- {{subcategory.categoryName}}
 -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
									<label>Category &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الفئة</label> 
									 <select class="form-control" ng-change="" ng-model="subcategory.categoryId">
         <option ng-repeat="category in categories" ng-value="category.categoryId">{{category.categoryName}}</option>
    </select>

								</div>

								<div class="form-group"
									data-ng-class="{ 'has-error' : subcategoryForm.subCategoryName.$invalid &amp;&amp; !subcategoryForm.subCategoryName.$pristine}">
									<label for="subCategoryName">SubCategory Name </label> <input
										class="form-control" data-ng-model="subcategory.subCategoryName"
										name="subCategoryName" id="subCategoryName" placeholder="Enter SubCategory Name"
										type="text" required="required" /> 
								</div>
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : subcategoryForm.subCategoryNameAr.$invalid &amp;&amp; !subcategoryForm.subCategoryNameAr.$pristine}">
									<label for="subCategoryNameAr"> اسم النوع الصنف </label> <input
										class="form-control" data-ng-model="subcategory.subCategoryNameAr"
										name="name" id="name" placeholder="اسم النوع الصنف"
										type="text" required="required" /> 
								</div>

								<div class="form-group"
									data-ng-class="{ 'has-error' : subcategoryForm.discription.$invalid &amp;&amp; !subcategoryForm.discription.$pristine}">
									<label for="discription">SubCategory Descriptions  </label>
									<textarea class="form-control"
										data-ng-model="subcategory.discription" name="discription"
										id="discription" placeholder="subcategory Description" required="required"
										rows="2"></textarea>

								</div>
                <div class="form-group"
                  data-ng-class="{ 'has-error' : subcategoryForm.rank.$invalid &amp;&amp; !subcategoryForm.rank.$pristine}">
                  <label for="subCategoryName">Rank </label> <input
                    class="form-control" data-ng-model="subcategory.rank"
                    name="rank" id="rank" placeholder="Enter Rank"
                    type="number" required="required" /> 
                </div>
								
								
									
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : subcategoryForm.status.$invalid &amp;&amp; !subcategoryForm.status.$pristine}">
									<label for="status">SubCategory Status</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="status" ng-model="subcategory.status" value="1">Active</label>
                                        <label class="radio-inline"><input type="radio" name="status" ng-model="subcategory.status" value="0">Discontinued</label>
                                        
                                       
								</div>
                <div class="col-md-12">
            <h2>Images</h2>
            <hr>
            <div class="fileupload file-uplaod-btn">
              <div class="form-group">
                <input type="file" ng-model="file" name="file" multiple ngf-select="upload($file)" />+ Upload SubCategory Image
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6" ng-model="subcategory.imageName">
                  <div class="img-wraps">
                    {{subcategory.imageName}}
                    <span class="closes" title="Delete" ng-click="deleteimage(subcategory.imageName)">&times;</span>
                    <img style="min-width:100%" ng-src="{{imageUrl}}{{subcategory.imageName}}" class="img-thumbnail" ng-if="!(subcategory.imageName).isLoadin">
                    <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="(subcategory.imageName).isLoadin">
                  </div>
                </div>
            </div>
                <br>
              
                                        
                                        
                                        
                                        <div class="box-footer">
							<button type="submit" class="btn btn-primary"ng-click="addSubCategory(subcategory);">Submit</button>
						</div>
                    </div>
                </div>
                        </form>
        <!-- /page content -->

            

       