
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>SubCategory Management </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
                 <div class="row">
                    <div class="col-lg-11">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">
                                    <div class="col-lg-2">
                                          
                                        <a href="#/admin/addsubcategory/0" class="btn btn-block btn-success" role="button">Add
                                Item Type</a>
                                    </div>
                                    <div class="col-lg-2  ">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                                        </div>
                                    </div>

                                     <!-- <div class="col-lg-4 pull-right">


                        <a href="#/admin/deactivatedsubcategories"
                            class="btn btn-block btn-success" role="button">Deactivated
                            SubCategories</a>
                    </div>
 -->
                                </div>
                                <div class="panel-body">
                                    <table class="table table-responsive table-striped">

                                        <tr>
                                            <th>#</th>
                                            <th>Category Name </th>
                                            <th>SubCategory Name </th>
                                            <th>SubCategor Status </th>
                                            <th>Actions</th>
                                            
                                            
                                        </tr>

                                       <tr ng-repeat="subcategory in subcategories | filter : {'status' : '0'}">

                                        <td>{{$index+1}}.</td>
                                        <td>{{subcategory.catName}}</td>

                                        <td>{{subcategory.subCategoryName}}</td>
                                       <td data-ng-if="subcategory.status==0">
                                    <div class="tools action-buttons" style="display:block;">
                                    <span class="label label-danger label-lg ng-scope">Discontinued</span>
                                    </div>
                                    
                                </td>
                                <td data-ng-if="subcategory.status==1">
                                    <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-success label-lg ng-scope">Active</span>
                                    </div>
                                </td>

                                        
                                      
       <!--  <th>&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-click="showActivateItemtype(itemtype)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="subcategorymanage(subcategory)" href=""><i class="fa fa-pencil text-aqua"></i></a></th> -->
       <th>&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-click="viewsubcategory(subcategory)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="subcategorymanage(subcategory)" href=""><i class="fa fa-pencil text-aqua"></i></a></th>
                                        

                                        </tr>

                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>
        <!-- /page content -->

            

       