
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add SubCategory </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
        <div class="row">
                    
                    
                    <div class="panel">
								<div class="panel-heading">
								<!--	<h2 class="panel-title "><b>Add Item Type </b></h2>-->
								</div>
                        <form role="form" name="subcategoryForm">
								<div class="panel-body">

								<!-- {{subcategory.categoryName}}
 -->
                                    

							<div class="col-lg-6">

							<div class="form-group"
									data-ng-class="{ 'has-error' : subcategoryForm.catName.$invalid &amp;&amp; !subcategoryForm.catName.$pristine}">
									<label for="catName">Category Name </label> <input
										class="form-control" data-ng-model="subcategory.catName"
										name="catName" id="catName" 
										type="text" data-ng-readonly="true" readonly="readonly" /> 
								</div>
							</div>


 <div class="col-lg-6">

							<div class="form-group"
									data-ng-class="{ 'has-error' : subcategoryForm.subCategoryName.$invalid &amp;&amp; !subcategoryForm.subCategoryName.$pristine}">
									<label for="subCategoryName">SubCategory Name </label> <input
										class="form-control" data-ng-model="subcategory.subCategoryName"
										name="subCategoryName" id="subCategoryName" 
										type="text" data-ng-readonly="true" readonly="readonly" /> 
								</div>
							</div>
							 
							 <div class="col-lg-6">
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : subcategoryForm.subCategoryNameAr.$invalid &amp;&amp; !subcategoryForm.subCategoryNameAr.$pristine}">
									<label for="subCategoryNameAr"> اسم النوع الصنف </label> <input
										class="form-control" data-ng-model="subcategory.subCategoryNameAr"
										name="name" id="name" data-ng-readonly="true" readonly="readonly"
										type="text"  /> 
								</div>
							</div>
							 <div class="col-lg-6">


								<div class="form-group"
									data-ng-class="{ 'has-error' : subcategoryForm.discription.$invalid &amp;&amp; !subcategoryForm.discription.$pristine}">
									<label for="discription">SubCategory Descriptions  </label>
									<textarea class="form-control"
										data-ng-model="subcategory.discription" name="discription"
										id="discription" data-ng-readonly="true" readonly="readonly" required="required"
										rows="2"></textarea>

								</div>
							</div>
							 
							 <div class="col-lg-6">
								<div class="form-group"
									data-ng-class="{ 'has-error' : subcategoryForm.status.$invalid &amp;&amp; !subcategoryForm.status.$pristine}">
									<label for="status"> Status</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label data-ng-if="subcategory.status==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Deactivate</span>
                                </div></label>
                                        <label data-ng-if="subcategory.status==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Active</span>
                                </div></label>

                                                                            
                                       
								</div>
									
                                        <!-- <div class="form-group"
									data-ng-class="{ 'has-error' : subcategoryForm.status.$invalid &amp;&amp; !subcategoryForm.status.$pristine}">
									<label for="status">SubCategory Status</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="status" ng-model="subcategory.status" value="1">Active</label>
                                        <label class="radio-inline"><input type="radio" name="status"ng-model="subcategory.status" value="0">Discontinued</label>
                                        
                                       
								</div> -->
							</div>
							<div class="col-lg-12">
                                        
                                        <div class="box-footer">


							<div class="col-lg-2">


                        <a href="#/admin/subcategory" class="btn btn-block btn-primary"
                            role="button">Close</a>
                    </div>
                </div>
                </div>
                        
                                       <!--  <div class="box-footer">
							<button type="submit" class="btn btn-primary"ng-click="addSubCategory(subcategory);">Submit</button>
						</div> -->
                    </div>
                </div>
                        </form>
        <!-- /page content -->

            

       