<h3>List Adv</h3>
<table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="adv in $data">
    <td title="'Date'"  sortable="'timestamp'">
            {{adv.timestamp|date:'dd/MMM/yyyy'}}</td>

 <td title="'Amount'"  sortable="'amount'">
            {{adv.amout}}</td>

 <td title="'Heading'" filter="{ heading: 'text'}"   sortable="'headeing'">
            {{adv.heading}}</td>

             <td title="'Image'" >
           <img class="thumbnail" style="width: 100px;height: auto;" ng-src="{{adv.imageurl}}"/></td>


             <td title="'From date'"  sortable="'startDate'">
            {{adv.startDate|date:'dd/MMM/yyyy'}}</td>

             <td title="'End date'"  sortable="'endDate'">
            {{adv.endDate|date:'dd/MMM/yyyy'}}</td>
            <td><a class="btn btn-waring" ng-click="removeAdv(adv.$id)">Block </a></td>


        

           
    </tr>
</table>