
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add Country </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
       <div class="row">
  <div class="col-lg-3 pull-right">
    <a href="#/admin/country" class="btn btn-block btn-primary " role="button">Back to Country</a>
  </div>
</div>
<div class="row">
  <div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title "><b></b></h2>
    </div>
    <form role="form" name="addcountryForm">
      <div class="panel-body">
        <div class="col-lg-6">
          <div class="form-group" data-ng-class="{ 'has-error' : addcountryForm.countryName.$invalid &amp;&amp; !addcountryForm.countryName.$pristine}">
            <label for="countryName">Country Name</label>
            <input class="form-control" data-ng-model="country.countryName" name="countryName" id="countryName" placeholder="Enter country Name" type="text" required="required" />
          </div>
          <div class="form-group" data-ng-class="{ 'has-error' : addcountryForm.countryStatus.$invalid &amp;&amp; !addcountryForm.countryStatus.$pristine}">
            <label for="countryStatus">Country Status &nbsp;&nbsp;&nbsp;&nbsp; </label>
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="radio-inline">
              <input type="radio" name="countryStatus" value="1" ng-model="country.countryStatus">Active</label>
            <label class="radio-inline">
              <input type="radio" name="countryStatus" value="0" ng-model="country.countryStatus">Discontinued</label>
          </div>
          <div class="col-md-12">
            <h2>Images</h2>
            <hr>
            <div class="fileupload file-uplaod-btn">
              <div class="form-group">
                <input type="file" ng-model="file" name="file" multiple ngf-select="upload($file)" />+ Upload Country Flag
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <!--  ####### -->
                <div class="col-lg-3 col-md-3 col-sm-6" ng-model="country.countryFlag">
                  <div class="img-wraps">
                    {{country.countryFlag}}
                    <span class="closes" title="Delete" ng-click="deleteimage(country.countryFlag)">&times;</span>
                    <img style="min-width:100%" ng-src="{{imageUrl}}{{country.countryFlag}}" class="img-thumbnail" ng-if="!(country.countryFlag).isLoadin">
                    <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="(country.countryFlag).isLoadin">
                  </div>
                </div>
              </div>
              <hr>
              
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-primary" ng-click="addCountry(country);">Submit</button>
      </div>
  </div>
  </form>
        <!-- /page content -->

            

       