<!-- page content -->
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Add Seller </h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- /form input knob -->
    <div class="row">
      <div class="col-lg-3 pull-right">
        <a href="#/admin/seller" class="btn btn-block btn-primary " role="button">Back to Sellers</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Seller Informations <small><!-- different form elements --></small></h2>
            <!-- <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul> -->
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sellerName">Seller Name En <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="seller.sellerName" id="sellerName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sellerNameAr">Seller Name Ar <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="seller.sellerNameAr" id="sellerNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="seller.address" id="address" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="3"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactName">Contact Person <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="seller.contactName" id="contactName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phoneNumber">Phone Number <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="number" data-ng-model="seller.phoneNumber" id="phoneNumber" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephoneNo">Telephone Number <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="number" data-ng-model="seller.telephoneNo" id="telephoneNo" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="emailId">E-mail ID{{seller.emailId}} <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="email" data-ng-model="seller.emailId" id="emailId" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryId">Country<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                   <select data-ng-model="seller.countryId" ng-options="country.countryId as country.countryName for country in countries" class="form-control"   ng-change="changeCountry(seller.countryId)">
                  </select>
                  <!-- <select class="form-control" data-ng-model="seller.countryId" ng-change="changeCountry(seller.countryId)" >
                    <option ng-repeat="country in countries" ng-value="country.countryId">{{country.countryName}}</option>
                  </select> -->
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cityId">City <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                   <select  class="form-control" data-ng-model="seller.cityId" ng-options="city.cityId as city.cityName for city in citiesbycountries">
                  </select>
                  <!-- <select class="form-control" ng-change="" data-ng-model="seller.cityId">
                    <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityName }}</option>
                  </select> -->
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="webAddress">Website<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="seller.webAddress" id="webAddress" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rank">Rank <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="number" data-ng-model="seller.rank" id="rank" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>

              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description En <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="seller.description" id="description" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descriptionAr">Description Ar <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="seller.descriptionAr" id="descriptionAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
              </div>
          <!--     ###############
                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.status.$invalid &amp;&amp; !addproductForm.status.$pristine}">
                <label for="status">Product Status &nbsp;&nbsp;&nbsp;&nbsp; حالة الصنف</label>
                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" name="status" ng-model="product.status" value="1">Active</label>
                <label class="radio-inline">
                  <input type="radio" name="status" ng-model="product.status" value="0"> Discontinued</label>
                <br>
              </div>


              ############## -->

             <!--  @@@@@@@@@@@@@ -->
              <!-- <div class="form-group">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12">Delivery Status</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <label class="radio-inline">
                  <input type="radio" name="delivaryStatus" ng-model="seller.delivaryStatus" value="1">Available</label>
                <label class="radio-inline">
                  <input type="radio" name="delivaryStatus" ng-model="seller.delivaryStatus" value="0"> Pick From Store</label>
                <br>


                  </div>


               </div> -->
               <!-- !!!!!!!!!!!!!!! -->
               <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Delivery Status</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="delivaryStatus" class="btn-group" >
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" style="
    padding-right: 17px;
">
                              <input type="radio" name="delivaryStatus" ng-model="seller.delivaryStatus" value="1" data-parsley-multiple="delivaryStatus"> &nbsp; Available &nbsp;
                            </label>
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" style="
    padding-right: 17px;
">
                              <input type="radio" name="delivaryStatus" ng-model="seller.delivaryStatus" value="0" data-parsley-multiple="delivaryStatus"> From Store
                            </label>
                          </div>
                        </div>
                      </div>

               <!-- !!!!!!!!!!!!!!! -->
               <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Cash On Delivery</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="isCod" class="btn-group" >
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" style="
    padding-right:  19px;
">
                              <input type="radio" name="isCod" ng-model="seller.isCod" value="1" data-parsley-multiple="isCod"> &nbsp; Possible &nbsp;
                            </label>
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" 
">
                              <input type="radio" name="isCod" ng-model="seller.isCod" value="0" data-parsley-multiple="isCod"> Not Possible
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Online Payment</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="isOnline" class="btn-group" >
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" style="
    padding-right: 17px;
">
                              <input type="radio" name="isOnline" ng-model="seller.isOnline" value="1" data-parsley-multiple="isOnline"> &nbsp; Possible &nbsp;
                            </label>
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" style="
    padding-right: 15px;
">
                              <input type="radio" name="isOnline" ng-model="seller.isOnline" value="0" data-parsley-multiple="isOnline"> Not Possible
                            </label>
                          </div>
                        </div>
                      </div>
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seller Status</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="status" class="btn-group" >
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" style="
    padding-right: 32px;
">
                              <input type="radio" name="status" ng-model="seller.status" value="1" data-parsley-multiple="status"> &nbsp; Active &nbsp;
                            </label>
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="status" ng-model="seller.status" value="0" data-parsley-multiple="status"> Discontinued
                            </label>
                          </div>
                        </div>
                      </div>
             
             
              

          <!--     @@@@@@@@@@@@@@ -->

<!-- 
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Delivery Status</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div id="delivaryStatus" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="delivaryStatus" data-ng-model="seller.delivaryStatus" value="1" data-parsley-multiple="delivaryStatus"> &nbsp; Available &nbsp;
                    </label>
                    <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="delivaryStatus" data-ng-model="seller.delivaryStatus" value="0" data-parsley-multiple="delivaryStatus"> Pick From Store
                    </label>
                  </div>
                </div>
              </div> -->
             <!--  <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Cash On Delivery</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div id="isCod" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="isCod" data-ng-model="seller.isCod" value="1" data-parsley-multiple="isCod"> &nbsp; Possible &nbsp;
                    </label>
                    <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="isCod" data-ng-model="seller.isCod" value="0" data-parsley-multiple="isCod">Not Possible
                    </label>
                  </div>
                </div>
              </div> -->
              <!-- <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Online Payment</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div id="isOnline" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="isOnline" data-ng-model="seller.isOnline" value="1" data-parsley-multiple="isOnline"> &nbsp; Possible &nbsp;
                    </label>
                    <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="isOnline" data-ng-model="seller.isOnline" value="0" data-parsley-multiple="isCod">Not Possible
                    </label>
                  </div>
                </div>
              </div> -->
              <!-- <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Seller Status{{seller.stat}}</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div id="stat" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="stat" ng-model="seller.stat" value="1" data-parsley-multiple="stat"> &nbsp; Active &nbsp;
                    </label>
                    <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="stat" ng-model="seller.stat" value="0" data-parsley-multiple="stat">Deactive
                    </label>
                  </div>
                </div>
              </div> -->
              
             
              <div class="col-md-12">
                <h2>Images</h2>
                <hr>
                <div class="fileupload file-uplaod-btn">
                  <div class="form-group">
                    <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                    <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Seller Image </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6" data-ng-model="seller.profileImage">
                      <div class="img-wraps">
                        {{seller.profileImage}}
                        <span class="closes" ng-if="!isFileuploadStart&& seller.profileImage" title="Delete" ng-click="deleteimage(seller.profileImage)">&times;</span>
                        <img style="min-width:100%" ng-src="{{imageUrl}}{{seller.profileImage}}" class="img-thumbnail" ng-if="!isFileuploadStart&& seller.profileImage">
                        <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
               <hr>
            <h2>Pick The Location of Seller</h2>
                <div map-lazy-load="https://maps.google.com/maps/api/js?libraries=places&sensor=fals&key=AIzaSyCkP4aAsJ9NtkNT31JNxiCElYTDzlaVRBg&v=3" map-lazy-load-params="{{googleMapsUrl}}">
                  <ng-map center="34.0479,100.6197" on-click="pinClicked(this)" zoom="2">
                    <marker position="[{{seller.latitude}}, {{seller.longitude}}]" title="how"></marker>
                   
                  </ng-map>
                </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="box-footer ">
                    <button type="submit" class="btn btn-primary" ng-click="addseller(seller);">Submit</button>
                  </div>
                </div>
              </div>
              <!--   </div> -->
              <!--    #######
                     

                      #####
                      -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
