<h3>seller Item Requests</h3>
<div class="row">
  <div class="row">
    <div class="col-lg-3 pull-right">
      <a href="#/admin/responsedsellerrequests" class="btn btn-block btn-success " role="button">Responsed Requests</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <!-- TABLE STRIPED -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
          <!-- <div class="row">
            <div class="col-lg-3  pull-right">
              <div class="input-group">
                <input class="form-control  " placeholder="Search..." type="text" data-ng-model="itemrequestSearch" />
                <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
              </div>
            </div>
          </div> -->
          <div class="panel-body">
            <table class="table table-responsive table-striped">
              <tr>
                <th>#</th>
                <th>seller Name </th>
                <th>Item Name </th>
                <th>PhoneNumber </th>
                <th>Requested On </th>
                <th>Status </th>
                <th>Actions </th>
              </tr>
              <tr ng-repeat=" itemrequest in itemrequests  |  filter : {'status' : '1'} ">
                <!-- | filter : {'status' : '2'} -->
                <td>{{$index+1}}.</td>
                <td>{{itemrequest.sellerName}}</td>
                <td>{{itemrequest.itemName}}</td>
                <td>{{itemrequest.phoneNumber}}</td>
                <td>{{itemrequest.createdTime| date}}</td>
                <td data-ng-if="itemrequest.status==1">
                  <div class="tools action-buttons" style="display: block;">
                    <span class="label label-warning label-lg ng-scope">Pending</span>
                  </div>
                </td>
                <th><a data-ng-click="itemrequestmanage(itemrequest)"><i class="fa fa-check text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-click="showDeclineItemrequest(itemrequest)"><i class="fa fa-eye text-green"></i></a></th>
              </tr>
              <!-- <tr>
                                                <td colspan="6">
                                                    <div id="accordion3" class="collapse"><div class="profile-info">
                                        <h4 class="heading">seller Request Info</h4>
                                        <ul class="list-unstyled list-justify">

                                            <li>Price of Item <span>98$</span></li>
                                            <li>Number of Item <span>1</span></li>
                                            <li>Contact Person <span>Abdul Rasak</span></li>
                                            <li>Contact Number <span>8129768162</span></li>
                                            <li>seller Address <span>caliut Road,
                                                mavoor</span></li>
                                                 <li>Location <span><a href="location">location</a></span></li>
                                            
                                        </ul>
                                    </div></div>
                                                </td>
                                            </tr> -->
            </table>
          </div>
        </div>
        <!-- END TABLE STRIPED -->
      </div>
    </div>
  </div>
