
            
            
                <h3>seller Account Requests</h3>
                <div class="row">
                <div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/responsedselleraccountrequests" class="btn btn-block btn-success " role="button">Responsed Requests</a>
                                    </div>
                
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">
                                    
                                    
                                    <div class="col-lg-3  pull-right">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="itemrequestSearch" />
                                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-responsive table-striped">

                                        <tr>
                                            <th>#</th>
                                            <th>seller Name </th>
                                            <th>City </th>
                                             <th>Country </th>
                                             <th>Requested On </th>
                                            <th>Actions </th>
                                                                                     
                                            
                                            
                                        </tr>


                                        <tr data-toggle="collapse" data-target="#accordion3" class="clickable">



                                        <td>{{$index+1}}.</td>
                                        <td>Alpha seller</td>
                                        <td>calicut</td>
                                        <td>India</td>
                                        <td>25/05/2017</td>
                                        <th><a data-ng-click="showApprovesellerrequest(itemrequest)"><i class="fa fa-check text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                                    data-ng-click="showDeclinesellerrequest(itemrequest)"><i class="fa fa-trash-o text-aqua"></i></a></th>
                                        </tr>
                                         <tr>
                                                <td colspan="6">
                                                    <div id="accordion3" class="collapse"><div class="profile-info">
                                        <h4 class="heading">seller Account Request Info</h4>
                                        <ul class="list-unstyled list-justify">

                                            <li>Contact Person <span>Abdul Rasak</span></li>
                                            <li>Contact Number <span>8129768162</span></li>
                                             <li>seller Address <span>caliut Road,
                                                mavoor</span></li>
                                                 <li>Location <span><a href="location">location</a></span></li>
                                            
                                            
                                           
                                            
                                        </ul>
                                    </div></div>
                                                </td>
                                            </tr>
                                         

                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>
                
             

           
           
        <div class="modal fade modal-success" id="approvesellerrequestModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title">Approve seller Request</h4>
                </div>
                <div class="modal-body">
                    <div class="row">           
                        <div class="col-lg-12">
                        <input type="hidden" name="itemrequestId" data-ng-modal="approveItemrequest.itemrequestId"/>
                            Are you sure to approve the Item Request?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left"
                        data-dismiss="modal">Close</button>
                    <button type="submit" data-ng-click="approvesellerrequestSubmit()" class="btn btn-outline">Confirm</button>
                </div>
        </div>
    </div>
</div>

<div class="modal fade modal-danger" id="declinesellerrequestModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title">Decline seller Request</h4>
                </div>
                <div class="modal-body">
                    <div class="row">           
                        <div class="col-lg-12">
                        <input type="hidden" name="itemrequestId" data-ng-modal="declineItemrequest.itemrequestId"/>
                            Are you sure to decline the seller Request?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left"
                        data-dismiss="modal">Close</button>
                    <button type="submit" data-ng-click="declinesellerrequestSubmit()" class="btn btn-outline">Confirm</button>
                </div>
        </div>
    </div>
</div>



