


            
                <h3>seller Statistics - إحصاءات المحل</h3>
                <div class="row">


                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">
                                    <div class="col-lg-3 ">
                                         <div class="form-group">
                                    <label>Country &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الدولة</label> 
                                     <select class="form-control" ng-change="changeCountry(search.countryId)" ng-model="search.countryId" >
         <option ng-repeat="country in countries" ng-value="country.countryId" >{{country.countryName}}</option>
    </select>

                                </div>
                                

                            </div>
                            <div class="col-lg-3 ">
                                <div class="form-group">
                                    <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مدينة</label> 
                                     <select class="form-control" ng-change="" ng-model="search.cityId">
         <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityName }}</option>
    </select>

                                </div>

                                <!-- <div class="form-group">
                                    <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الفئة</label> 
                                     <select class="form-control" ng-change="" ng-model="city.countryId">
         <option ng-repeat="country in countries" ng-value="country.countryId">{{country.countryName}}</option>
    </select>

                                </div> -->
                            </div>
                            <div class="col-lg-2 ">
                            <div class="form-group"
                                    data-ng-class="{ 'has-error' : sellerstatisticsForm.startDate.$invalid &amp;&amp; !sellerstatisticsForm.startDate.$pristine}">
                                    <label>From  </label> <input
                                        class="form-control" data-ng-model="search.startDate"
                                         id="startDate" placeholder="Enter Start Date"
                                        type="date" required="required" /> 
                                </div>
                            </div>
                            <div class="col-lg-2 ">

                                <div class="form-group"
                                    data-ng-class="{ 'has-error' : sellerstatisticsForm.endDate.$invalid &amp;&amp; !sellerstatisticsForm.endDate.$pristine}">
                                    <label>To  </label> <input
                                        class="form-control" data-ng-model="search.endDate"
                                         id="endDate" placeholder="Enter End Date"
                                        type="date" required="required" /> 
                                </div>
                            </div>
                            <br>
                            <div class="col-lg-2">


                        <a ng-click="searchsellerstatistics(search)" class="btn btn-block btn-success"
                            role="button">Search</a>
                    </div>
                           
                       

                            
                                </div>

                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr >
                                                <th>#</th>
                                                <th>seller Name </th>
                                                <th>City </th>
                                                <th>Country </th>
                                                <th>Net Amount </th>
                                                <th>Actions </th>
                                                




                                            </tr>
                                        </thead>

                                       
                                            <tr ng-repeat="order in sellerstatistics">
                                                <td>{{$index+1}}.</td>

                                                <td><a href="#/admin/listofsellerorder">{{order.sellerName}}  <!-- {{order.object.}} --></a></td>
                                                 <td>{{order.city}}</td>
                                                  <td>{{order.country}}</td>
                                                <td>{{order.netAmount}}</td>
                                                <th>
                               
                                <a ng-click="viewlistofsellerorder(order)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<!-- <a ng-click="categorymanage(category)" href=""><i class="fa fa-pencil text-aqua"></i></a> -->



                               
                            </th>
                                               


                                                
                                            
                                            </tr>
                                            <tr ng-if="sellerstatistics.length==0">
                                                <td>No data</td>
                                            </tr>
                                            
                                            
                                    </table>
                                </div>
                            </div>
                             </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>


       


