<div ng-if="langval==1">
  
    <div class="right_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <div ng-if="coid==0">
              <h3>Add Country </h3>
            </div>
            <div ng-if="coid!=0">
              <h3>Edit Country </h3>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Country Informations <small><!-- different form elements --></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryName">Country Name En <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="country.countryName" id="countryName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryNameAr">Country Name Ar<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="country.countryNameAr" id="countryNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currency">Currency <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="country.currency" id="currency" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryCode">Country Code <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="country.countryCode" id="countryCode" required="required" class="form-control col-md-7 col-xs-12" placeholder="Enter Country Code like 96" required="required" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Country Status <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :country.countryStatus==0  }" ng-click="country.countryStatus=0"> Deactive</div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :country.countryStatus==1  }" ng-click="country.countryStatus=1"> Active</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <h2>Flag</h2>
                    <hr>
                    <div class="col-md-4">
                      <div class="fileupload file-uplaod-btn">
                        <div class="form-group">
                          <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                          <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Country Flag </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6" ng-model="country.countryFlag">
                          <div class="img-wraps">
                            {{country.countryFlag}}
                            <span class="closes" ng-if="!isFileuploadStart&& country.countryFlag" title="Delete" ng-click="deleteimage(country.countryFlag)">&times;</span>
                            <img style="min-width:100%" ng-src="{{imageUrl}}{{country.countryFlag}}" class="img-thumbnail" ng-if="!isFileuploadStart&& country.countryFlag">
                            <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="addCountry(country);">Submit</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- /page content -->

<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            <div ng-if="coid==0">
              <h3>أضف البلد  </h3>
            </div>
            <div ng-if="coid!=0">
              <h3>تحرير البلد </h3>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="x_panel">
              <div class="x_title">
                <h2 class="pull-right">معلومات عن البلد <small><!-- different form elements --></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="country.countryName" id="countryName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryName">اسم الدوله باللغة الإنجليزية <span class="required">*</span>
                    </label>
                    
                  </div>
                  <div class="form-group">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="country.countryNameAr" id="countryNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryNameAr">اسم البلد باللغة العربية  <span class="required">*</span>
                    </label>
                   
                  </div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="country.currency" id="currency" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currency">عملة <span class="required">*</span>
                    </label>
                    
                  </div>
                 <!--  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryCode">الرقم الدولي <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="country.countryCode" id="countryCode" required="required" class="form-control col-md-7 col-xs-12" placeholder="أدخل كود البلد مثل 96" required="required" />
                    </div>
                  </div> -->
                  
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="country.countryCode" id="countryCode" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryCode">الرقم الدولي  <span class="required">*</span>
                    </label>
                    
                  </div>
                
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :country.countryStatus==0  }" ng-click="country.countryStatus=0"> غير نشطة  </div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :country.countryStatus==1  }" ng-click="country.countryStatus=1"> شطة  </div>
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">حالة فئه الدوله  <span class="required">*</span></label>
                    
                  </div>
                  <div class="col-md-12">
                    <h2>علم</h2>
                    <hr>
                    <div class="col-md-4 pull-right">
                      <div class="fileupload file-uplaod-btn">
                        <div class="form-group">
                          <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                          <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + انقر هنا لتحميل بلد العلم </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-model="country.countryFlag">
                          <div class="img-wraps">
                            {{country.countryFlag}}
                            <span class="closes" ng-if="!isFileuploadStart&& country.countryFlag" title="Delete" ng-click="deleteimage(country.countryFlag)">&times;</span>
                            <img style="min-width:100%" ng-src="{{imageUrl}}{{country.countryFlag}}" class="img-thumbnail" ng-if="!isFileuploadStart&& country.countryFlag">
                            <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="addCountry(country);">سجيل  </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
