<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <div ng-if="catcid==0">
            <h3>Add Banner </h3>
          </div>
          <div ng-if="catcid!=0">
            <h3>Edit Banner </h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Banner Informations <small><!-- different form elements --></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <div class="col-md-10 col-md-offset-1">
                    <div class="fileupload file-uplaod-btn">
                      <div class="form-group">
                        <input type="file" id="fileuploadbanner" style="display:none" ng-model="bannerfile" name="bannerfile" multiple ngf-select="upload($file)" />
                        <div class="btn btn-block btn-warning" onclick="document.getElementById('fileuploadbanner').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Banner Image </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-md-offset-1 col-lg-10 col-md-10 col-sm-6" ng-model="banner.imageName" style="margin-top: 20px;">
                        <div class="img-wraps">
                          {{banner.imageName}}
                          <span class="closes" ng-if="!isFileuploadStart&& banner.imageName" title="Delete" ng-click="deleteimage(banner.imageName)">&times;</span>
                          <img style="min-width:100%" ng-src="{{imageUrl}}{{banner.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& banner.imageName">
                          <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                        </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryId">Banner Type <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select ng-model="banner.modeId" class="form-control">
                          <option value="2">Full Size Banner Top</option>
                          <option value="3">Half Size Banner Left - 1</option>
                          <option value="4">Half Size Banner Right - 1</option>
                          <option value="5">Half Size Banner Left - 2</option>
                          <option value="6">Half Size Banner Right - 2</option>
                          <option value="7">Full Size Banner Bottom</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryId">Language<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select ng-model="banner.arabicOrEnglish" class="form-control">
                          <option value="1">English</option>
                          <option value="0">Arabic</option>                         
                        </select>
                      </div>
                    </div>
                     <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="link">Link <span class="required">*</span>
                      </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="banner.link" id="link" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rank">Rank <span class="required">*</span>
                      </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" data-ng-model="banner.rank" id="rank" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="height">Height<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="number" data-ng-model="banner.height" id="height" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12"> Status <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="btn btnserviceorproduct" ng-class="{'active' :banner.addStatus==2  }" ng-click="banner.addStatus=2"> Active</div>
                        <div class="btn btnserviceorproduct" ng-class="{'active' :banner.addStatus==4  }" ng-click="banner.addStatus=4"> Cancelled</div>
                        <div class="btn btnserviceorproduct" ng-class="{'active' :banner.addStatus==3  }" ng-click="banner.addStatus=3"> Expired</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="box-footer">
                          <button type="submit" class="btn btn-primary" ng-click="addBanner(banner);">Submit</button>
                        </div>
                      </div>
                    </div>
                </form>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- arabic -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            <div ng-if="catcid==0">
              <h3>أضف بانر </h3>
            </div>
            <div ng-if="catcid!=0">
              <h3>تحرير راية </h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2 class="pull-right">معلومات حول لافتة <small><!-- different form elements --></small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <br>
                  <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="fileupload file-uplaod-btn">
                        <div class="form-group">
                          <input type="file" id="fileuploadbanner" style="display:none" ng-model="bannerfile" name="bannerfile" multiple ngf-select="upload($file)" />
                          <div class="btn btn-block btn-warning" onclick="document.getElementById('fileuploadbanner').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + انقر هنا لرفع صورة راية </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-md-offset-1 col-lg-10 col-md-10 col-sm-6" ng-model="banner.imageName" style="margin-top: 20px;">
                          <div class="img-wraps">
                            {{banner.imageName}}
                            <span class="closes" ng-if="!isFileuploadStart&& banner.imageName" title="Delete" ng-click="deleteimage(banner.imageName)">&times;</span>
                            <img style="min-width:100%" ng-src="{{imageUrl}}{{banner.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& banner.imageName">
                            <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                        </div>
                          </div>
                        </div>
                        <hr>
                      </div>
                      <div class="form-group">                       
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <select ng-model="banner.modeId" class="form-control">
                            <option value="2">حجم كامل بانر أعلى </option>
                            <option value="3">نصف حجم بانر اليسار - ١ </option>
                            <option value="4">نصف حجم بانر الحق - ١</option>
                            <option value="5">نصف حجم بانر اليسار - ٢ </option>
                            <option value="6">نصف حجم لافتة اليمين - ٢</option>
                            <option value="7">حجم كامل بانر القاع </option>
                          </select>
                        </div>
                         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryId">نوع البانر <span class="required">*</span>
                        </label>
                      </div>

                       <div class="form-group">                      
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <select ng-model="banner.arabicOrEnglish" class="form-control">
                          <option value="1"><!-- English -->الإنجليزية</option>
                          <option value="0"><!-- Arabic -->عربى </option>                         
                        </select>
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="arabicOrEnglish"><!-- Language -->لغة <span class="required">*</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <input type="text" data-ng-model="banner.link" id="link" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="link">صلة <span class="required">*</span>
                      </label>
                      
                    </div>

                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <input type="number" data-ng-model="banner.rank" id="rank" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rank">مرتبة<span class="required">*</span>
                      </label>
                      
                    </div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <input type="number" data-ng-model="banner.height" id="height" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                        </div>
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="height">أعالي <span class="required">*</span>
                        </label>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <div class="btn btnserviceorproduct" ng-class="{'active' :banner.addStatus==2  }" ng-click="banner.addStatus=2"> نشيط </div>
                          <div class="btn btnserviceorproduct" ng-class="{'active' :banner.addStatus==4  }" ng-click="banner.addStatus=4"> ألغيت </div>
                          <div class="btn btnserviceorproduct" ng-class="{'active' :banner.addStatus==3  }" ng-click="banner.addStatus=3"> منتهية الصلاحية </div>
                        </div>
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> حالة <span class="required">*</span></label>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="box-footer">
                            <button type="submit" class="btn btn-primary" ng-click="addBanner(banner);">خضع </button>
                          </div>
                        </div>
                      </div>
                  </form>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
