<h3>Add Auction</h3>

 <div class="row">

                    
                        <div class="panel">
                            
                            <form role="form" name="auctionForm" >
                                <div class="panel-body">
                                    <div class="col-md-4">

                                        <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.itemName.$invalid &amp;&amp; !auctionForm.itemName.$pristine}">
                                            <label >Item Name En</label> <input class="form-control" data-ng-model="auction.itemName" id="itemName" placeholder="Enter itemName" type="text" required="required" />
                                        </div>

                                        <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.itemNameAr.$invalid &amp;&amp; !auctionForm.itemNameAr.$pristine}">
                                            <label >Item Name Ar (اسم الصنف العربي)</label> <input class="form-control" data-ng-model="auction.itemNameAr" id="itemNameAr" placeholder="Enter itemName in Arabic" type="text" required="required" />

                                        </div>

                                         



                                      
                                        
                                         <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.description.$invalid &amp;&amp; !auctionForm.description.$pristine}">
                                            <label for="description"> Description En</label>
                                            <textarea class="form-control" data-ng-model="auction.description"  id="description" placeholder="Enter Description" required="required" rows="4"></textarea>


                                        </div>
                                        <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.descriptionAr.$invalid &amp;&amp; !auctionForm.descriptionAr.$pristine}">
                                            <label for="descriptionAr"> Description Ar (وصف الصنف العربي) </label>
                                            <textarea class="form-control" data-ng-model="auction.descriptionAr"  id="descriptionAr" placeholder="Enter Description" required="required" rows="4"></textarea>


                                        </div>
                                        
                                        
                                       
                    
                                        </div>
                                    <div class="col-md-4">

                                           <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.ownerName.$invalid &amp;&amp; !auctionForm.ownerName.$pristine}">
                                            <label for="ownerName">Username (Owner Name) </label> <input class="form-control" data-ng-model="auction.ownerName" name="ownerName" id="ownerName" placeholder="Enter Owner Name" type="text" required="required" />
                                        </div>

                                        <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.mobile.$invalid &amp;&amp; !auctionForm.mobile.$pristine}">
                                            <label for="mobile">Mobile Number  &nbsp;&nbsp;&nbsp;&nbsp;  رقم الجوال</label> <input class="form-control" data-ng-model="auction.mobile" id="mobile" placeholder="Enter MobileNumber" type="number"min="0" max="9999999999" required="required" />
                                        </div>
                                        <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.address.$invalid &amp;&amp; !auctionForm.address.$pristine}">
                                            <label for="address"> Address </label>
                                            <textarea class="form-control" data-ng-model="auction.address" name="address" id="address" placeholder="Enter Address" required="required" rows="3"></textarea>

                                        </div>
                                    	 
                                       <!-- <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.auctionNamear.$invalid &amp;&amp; !auctionForm.auctionNamear.$pristine}">
                                            <label for="auctionNamear">&nbsp;&nbsp;&nbsp;&nbsp;  اسم المحل</label> <input class="form-control" data-ng-model="auction.auctionNamear" name="auctionNamear" id="auctionNamear" placeholder="اسم المحل" type="text" required="required" />
                                        </div> -->

                                       <!--  <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.contactpersonar.$invalid &amp;&amp; !auctionForm.contactpersonar.$pristine}">
                                            <label for="contactpersonar">الشخص الذي يمكن الاتصال به</label> <input class="form-control" data-ng-model="auction.contactpersonar" name="contactpersonar" id="contactpersonar" placeholder="الشخص الذي يمكن الاتصال به" type="text" required="required" />
                                        </div> -->
                                        <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.itemNetPrice.$invalid &amp;&amp; !auctionForm.itemNetPrice.$pristine}">
                                            <label for="itemNetPrice">Item NetPrice</label> <input class="form-control" data-ng-model="auction.itemNetPrice" name="itemNetPrice" id="itemNetPrice" placeholder="Enter item NetPrice" type="text" required="required" />
                                        </div>
                                        <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.basicBidAmt.$invalid &amp;&amp; !auctionForm.basicBidAmt.$pristine}">
                                            <label >Basic Bid Amount</label> <input class="form-control" data-ng-model="auction.basicBidAmt" id="basicBidAmt" placeholder="Enter basicBidAmt" type="number" required="required" />
                                        </div>
                                      
                                    </div>
                                    <div class="col-md-4">

                                        <div class="form-group">
                                    <label>Country &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الدولة</label> 
                                     <select class="form-control" ng-change="changeCountry(auction.countryId)" ng-model="auction.countryId" >
                                     <option ng-repeat="country in countries" ng-value="country.countryId" >{{country.countryName}}</option>
                                </select>

                                </div>
                                <div class="form-group">
                                    <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مدينة</label> 
                                    <select class="form-control" ng-change="" ng-model="auction.cityId">
                                     <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityName }}</option>
                                </select>

                                </div>

                                      <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.auctionDate.$invalid &amp;&amp; !auctionForm.auctionDate.$pristine}">
                                            <label >Auction Date</label> <input class="form-control" ng-model="auction.auctionDate" id="auctionDate" placeholder="Enter auctionDate" type="date" required="required" />
                                        </div>
                                        <div class="form-group" data-ng-class="{ 'has-error' : auctionForm.auctionExpiryTime.$invalid &amp;&amp; !auctionForm.auctionExpiryTime.$pristine}">
                                            <label >Auction Expiry Date</label> <input class="form-control" ng-model="auction.auctionExpiryTime" id="auctionExpiryTime" placeholder="Enter auctionExpiryTime" type="date" required="required" />
                                        </div>
                                         <div class="form-group"
                                    data-ng-class="{ 'has-error' : auctionForm.status.$invalid &amp;&amp; !auctionForm.status.$pristine}">
                                    <label for="status">Auction Status</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="status" ng-model="auction.status" value="1">Active</label>
                                        <label class="radio-inline"><input type="radio" name="status" ng-model="auction.status" value="0">Discontinued</label>
                                        
                                       
                                </div>
                            
                                    </div>

                                    
                                    	



                                         <div class="col-md-12">
    <h2>Images</h2>
    <hr>
             <div class="fileupload file-uplaod-btn">
            <div class="form-group">
              <input type="file" ng-model="file" name="file" multiple ngf-select="upload($file)" />+ Upload auction Images
            </div>
          </div>
          <div class="col-lg-12">
          
                <div class="row">

                  <div class="col-lg-3 col-md-3 col-sm-6" ng-repeat="img in auction.featureAndPhotos">
                    <div  class="img-wraps">
           {{img}}
                         <span  class="closes" title="Delete" ng-click="deleteimage(img.data)">&times;</span>
                    <img  style="min-width:100%"  ng-src="{{imageUrl}}{{img.data}}"  class="img-thumbnail" ng-if="!img.isLoadin">
                     <img style="min-width:100%"    ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="img.isLoadin">
                  </div>
               
            </div>
          </div>

          <hr>
        

         
  <div class="box-footer ">
                                        <button type="submit" class="btn btn-primary" ng-click="addauction(auction);">Submit</button>
                                    </div>

        </div>

                    </div>

                                    	 		</div>
                                    
                               
                        
                        </form>
                    </div>
                </div>