


            
                <h3>Auction Management </h3>
                <div class="row">


                </div>
                <div class="row">
                    <div class="col-lg-2 pull-right ">
                                       
                                        <a href="#/admin/addauction/0" class="btn btn-block btn-success " role="button">Add Auction </a>
                                    </div><br>
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">
                                    <div class="col-lg-3 ">
                                         <div class="form-group">
                                    <label>Country &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الدولة</label> 
                                     <select class="form-control" ng-change="changeCountry(search.countryId)" ng-model="search.countryId" >
         <option ng-repeat="country in countries" ng-value="country.countryId" >{{country.countryName}}</option>
    </select>

                                </div>

                             

                                    
                            </div>
                            <div class="col-lg-3 ">
                                <div class="form-group">
                                    <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مدينة</label> 
                                     <select class="form-control" ng-change="" ng-model="search.cityId">
         <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityName }}</option>
    </select>

                                </div>

                                <!-- <div class="form-group">
                                    <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الفئة</label> 
                                     <select class="form-control" ng-change="" ng-model="city.countryId">
         <option ng-repeat="country in countries" ng-value="country.countryId">{{country.countryName}}</option>
    </select>

                                </div> -->
                            </div>
                            <div class="col-lg-2 ">
                            <div class="form-group"
                                    data-ng-class="{ 'has-error' : auctionsearchForm.formDate.$invalid &amp;&amp; !auctionsearchForm.formDate.$pristine}">
                                    <label>From  </label> <input
                                        class="form-control" data-ng-model="search.fromDate"
                                         id="fromDate" placeholder="Enter Start Date"
                                        type="date" required="required" /> 
                                </div>
                            </div>
                            <div class="col-lg-2 ">

                                <div class="form-group"
                                    data-ng-class="{ 'has-error' : auctionsearchForm.toDate.$invalid &amp;&amp; !auctionsearchForm.toDate.$pristine}">
                                    <label>To  </label> <input
                                        class="form-control" data-ng-model="search.toDate"
                                         id="toDate" placeholder="Enter End Date"
                                        type="date" required="required" /> 
                                </div>
                            </div>
                            <br>
                            <div class="col-lg-2">


                        <a ng-click="auctionSearch(search)" class="btn btn-block btn-primary"
                            role="button">Search</a>
                           
                    </div>
                    <!--  Name: <input ng-model="search.countryName"/> -->
                           
                      

                            
                                </div>

                                </div>
                                <div class="panel-body"><!-- ng-show="testdata == false" -->
                                    <table class="table table-hover">
                                        <thead>
                                            <tr >
                                                <th>#</th>
                                                <th>Item Name </th>
                                                <th>City </th>
                                                <th>Country </th>
                                                <th>Last Updated Date </th>
                                               
                                                <th>Bid Closing Date </th>
                                                 <th>Final Bid Amount </th>
                                                <th>Actions </th>




                                            </tr>
                                        </thead>

                                       
                                            <tr ng-repeat="auction in auctions">
                                                <td>{{$index+1}}.</td>

                                                <td><!-- <a href="#/admin/listofstoreorder"> -->{{auction.itemName}}  <!-- {{order.object.}} --<!-- ><!-- </a> --> </td>
                                                 <td>{{auction.cityName}}</td>
                                                  <td>{{auction.countryName}}</td>
                                                <td>{{auction.lastUpdatedTimeString}}</td>
                                                <td>{{auction.auctionExpiryTimeString}}</td>
                                                 <td>{{auction.maxBidAmt}}</td>
                                                 <th>
                               
                                <a ng-click="viewauction(auction)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a ng-click="auctionmanage(auction)"> <i class="fa fa-pencil text-aqua"></i></a><a ng-click="viewauctiondetails(auction)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Bids</span>
                                <!-- <i class="fa fa-pencil text-aqua"></i> --></a><!-- <a ng-click="categorymanage(category)" href=""><i class="fa fa-pencil text-aqua"></i></a> -->



                               
                            </th>
                                                

                                                
                                            
                                            </tr>
                                            <tr ng-if="auctions.length==0">
                                                <td> </td>
                                                <td><b>No data</b></td>
                                            </tr>

                                            
                                            
                                    </table>
                                </div>
                            </div>
                             </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>


       


