
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add Category </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
         <div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/category" class="btn btn-block btn-primary " role="button">Back to Category</a>
                                    </div>
                
                </div>
                
                <div class="row">
                    
                   
                    <div class="panel">
								<div class="panel-heading">
									<h2 class="panel-title "><b></b></h2>
								</div>
                        <form role="form" name="categoryForm">
								<div class="panel-body">
                                    <div class="col-lg-6">
								<div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.categoryName.$invalid &amp;&amp; !categoryForm.categoryName.$pristine}">
									<label for="categoryName">CategoryName  </label> <input
										class="form-control" data-ng-model="category.categoryName"
										name="categoryName" id="categoryName" placeholder="Enter CategoryName"
										type="text" required="required" /> 
								</div>
                                        
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.categoryNameAr.$invalid &amp;&amp; !categoryForm.categoryNameAr.$pristine}">
									<label for="categoryNameAr">    اسم الفئة  </label> <input
										class="form-control" data-ng-model="category.categoryNameAr"
										name="categoryNameAr" id="categoryNameAr" placeholder=" اسم الفئة"
										type="text" required="required" /> 
								</div>
								<div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.discription.$invalid &amp;&amp; !categoryForm.discription.$pristine}">
									<label for="discription">Category Descriptions  </label>
									<textarea class="form-control"
										data-ng-model="category.discription" name="discription"
										id="discription" placeholder="category Description" required="required"
										rows="2"></textarea>

								</div>
								<div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.commision.$invalid &amp;&amp; !categoryForm.commision.$pristine}">
									<label for="commision">Commision  </label> <input
										class="form-control" data-ng-model="category.commision"
										name="commision" id="commision" placeholder="Enter Commision"
										type="number" required="required" /> 
								</div>
								<!-- <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.discriptionAr.$invalid &amp;&amp; !categoryForm.discriptionAr.$pristine}">
									<label for="discriptionAr"> الفئة الصنف </label>
									<textarea class="form-control"
										data-ng-model="category.discriptionAr" name="discriptionAr"
										id="discriptionAr" placeholder=" وصف الصنف " required="required"
										rows="2"></textarea>

								</div> -->
								<!-- <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.rank.$invalid &amp;&amp; !categoryForm.rank.$pristine}">
									<label for="rank">Sort Order  </label> <input
										class="form-control" data-ng-model="category.rank"
										name="rank" id="rank" placeholder="Enter Sort Order"
										type="number" min="1" max="99999" required="required" /> 
								</div>
 -->
                                        
									
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.status.$invalid &amp;&amp; !categoryForm.status.$pristine}">
									<label for="status">Category Status &nbsp;&nbsp;&nbsp;&nbsp;   حالة الفئة</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="status" value="0" ng-model="category.status">Discontinued</label>
                                        <label class="radio-inline"><input type="radio" name="status" value="1" ng-model="category.status">Active</label>
                                        
                                       
								</div>
                                        <!-- <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.delivaryStatus.$invalid &amp;&amp; !categoryForm.delivaryStatus.$pristine}">
									<label for="delivaryStatus">Delivery Status &nbsp;&nbsp;&nbsp;&nbsp; </label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="delivaryStatus" value="0" ng-model="category.delivaryStatus">Pickup from the Store</label>
                                        <label class="radio-inline"><input type="radio" name="delivaryStatus" value="1" ng-model="category.delivaryStatus">Delivery Available</label>
                                        
                                       
								</div> -->
                                       <!--  <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.color.$invalid &amp;&amp; !categoryForm.color.$pristine}">
									<label for="color">Menu Color &nbsp;&nbsp;&nbsp;&nbsp;  لون القائمة</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        
                                        Select your Menu color:
  <input type="color" name="color" ng-model="category.color"value="#ff0000">
							</div> -->
							 <div class="col-md-12">
            <h2>Images</h2>
            <hr>
            <div class="fileupload file-uplaod-btn">
              <div class="form-group">
                <input type="file" ng-model="file" name="file" multiple ngf-select="upload($file)" />+ Upload Category Image
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
							<div class="col-lg-3 col-md-3 col-sm-6" ng-model="category.imageName">
                  <div class="img-wraps">
                    {{category.imageName}}
                    <span class="closes" title="Delete" ng-click="deleteimage(category.imageName)">&times;</span>
                    <img style="min-width:100%" ng-src="{{imageUrl}}{{category.imageName}}" class="img-thumbnail" ng-if="!(category.imageName).isLoadin">
                    <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="(category.imageName).isLoadin">
                  </div>
                </div>
            </div>
                <br>
							
                                        <div class="box-footer">
							<button type="submit" class="btn btn-primary" ng-click="addCategory(category);">Submit</button>
						</div>
                    </div>
                </div>
            </div>
                        </form>

              <!-- /form input knob -->

        




          </div>
        </div>
        <!-- /page content -->

            

       