
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>View Category </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
        <div class="row">
                    
                   
                    <div class="panel">
								<div class="panel-heading">
									<h2 class="panel-title "><b></b></h2>
								</div>
                        <form role="form" name="categoryForm">
								<div class="panel-body">
                                    <div class="col-lg-6">
								<div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.categoryName.$invalid &amp;&amp; !categoryForm.categoryName.$pristine}">
									<label for="categoryName">CategoryName  </label> <input
										class="form-control" data-ng-model="category.categoryName"
										name="categoryName" id="categoryName" data-ng-readonly="true" readonly="readonly"
										type="text"  /> 
								</div>
							</div>
							<div class="col-lg-6">
                                        
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.categoryNameAr.$invalid &amp;&amp; !categoryForm.categoryNameAr.$pristine}">
									<label for="categoryNameAr">    اسم الفئة  </label> <input
										class="form-control" data-ng-model="category.categoryNameAr"
										name="categoryNameAr" id="categoryNameAr" data-ng-readonly="true" readonly="readonly"
										type="text"  /> 
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.discription.$invalid &amp;&amp; !categoryForm.discription.$pristine}">
									<label for="discription">Category Descriptions  </label>
									<textarea class="form-control"
										data-ng-model="category.discription" name="discription"
										id="discription" data-ng-readonly="true" readonly="readonly"
										rows="2"></textarea>

								</div>
							</div>
							
							
							<div class="col-lg-3">

                                        
									
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.status.$invalid &amp;&amp; !categoryForm.status.$pristine}">
									<label for="status">Category Status &nbsp;&nbsp;&nbsp;&nbsp;   حالة الفئة</label><br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label data-ng-if="category.status==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Deactivate</span>
                                </div></label>
                                        <label data-ng-if="category.status==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Active</span>
                                </div></label>

                                                                            
                                       
								</div>
							</div>
							<div class="col-lg-3">

								<div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.commision.$invalid &amp;&amp; !categoryForm.commision.$pristine}">
									<label for="commision">Commision  </label> <input
										class="form-control" data-ng-model="category.commision"
										name="commision" id="commision" data-ng-readonly="true" readonly="readonly" required="required" /> 
								</div>
							</div>
							<div class="col-lg-12">
							<div class="form-group">
                                    <label >Category Image </label><br>

                                <div  class="img-wraps">
           {{imageName}}
                        <!--  <span  class="closes" title="Delete" ng-click="deleteimage(img.data)">&times;</span> -->
                    <img  style="min-width:100%"  ng-src="{{imageUrl}}{{category.imageName}}"  class="img-thumbnail" ng-if="!img.isLoadin">
                     <img style="min-width:100%"    ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="img.isLoadin">
                  </div>
              </div><br>
							
                                        
							</div>
							

							<div class="box-footer">


							<div class="col-lg-2">


                        <a href="#/admin/category" class="btn btn-block btn-primary"
                            role="button">Close</a>
                    </div>
                </div>
                                        <!-- <div class="box-footer">
							<button type="submit" class="btn btn-primary" ng-click="addCategory(category);">Submit</button>
						</div> -->
                    </div>
                </div>
                        </form>
        <!-- /page content -->

            

       