<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>View Orders By Promocode </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <!--   CUSTOMER PAID REPORT -->
          <div class="row">
   
            <div class="col-md-11 col-sm-12">
              <div>
              <!--   <span class="pull-right">
                        <button ng-click="downloadtransactionreport()">Download as Pdf</button>
                       </span> -->
              </div>
              <div id="exporttransactionreport">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Orders by PromoCode - <strong>(Total Sale Amount : {{toatlPRICE}} SAR)</strong></h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td class="text-center"><strong>Sl.No </strong></td>
                            <td class="text-center"><strong>Order ID </strong></td>
                            <td class="text-center"><strong>Date</strong></td>
                             <td class="text-center"><strong>Customer </strong></td>
                            <td class="text-center"><strong>No.of Items</strong></td>
                            <td class="text-center"><strong>Amount </strong></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="odbycodeid in listofordersbypromocode">
                            <td>{{$index+1+transactionreportPageVo.currentIndex}}.</td>
                            <td class="text-left">{{odbycodeid.orderId}}</td>
                            <td class="text-left">{{odbycodeid.lastUpdatedTime|date}}</td>
                            <td class="text-left">{{odbycodeid.customerName}}</td>
                            <td class="text-left">{{odbycodeid.numberOfItems}}</td>
                            <td class="text-left">{{odbycodeid.netPrice}} SAR</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  
                    <div class="row">
                      <div class="col-md-6 text-left" style="
    margin-top:  25px;
">Showing {{$index+1+transactionreportPageVo.currentIndex}} to {{finalcount}} of {{totalnumber}} ({{noPages}} Pages)
                      </div>
                      <div class="col-md-6 text-right ">
                        <ul class="pagination">
                          <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getpromocodedetails($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>
</div>
  <!-- ARABIC -->
  <!-- page content -->
  <!-- ARABIC -->
  <div ng-if="langval==0">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div dir="rtl">
        <div class="">
          <div class="page-title">
            <div class="title_right pull-right">
              <h3>عرض قائمة الطلبات حسب الرمز الترويجي</h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="container-fluid">
            <div>
              <!--   CUSTOMER PAID REPORT -->
                 <div class="row">
   
            <div class="col-md-11 col-sm-12 pull-right">
              <div>
              <!--   <span class="pull-right">
                        <button ng-click="downloadtransactionreport()">Download as Pdf</button>
                       </span> -->
              </div>
              <div id="exporttransactionreport">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart"></i> أوامر برومو كود  - <strong>(المبلغ الإجمالي للبيع: {{toatlPRICE}} ريال سعودي)</strong></h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td class="text-center"><strong>رقم  </strong></td>
                            <td class="text-center"><strong>رقم الطلب </strong></td>
                            <td class="text-center"><strong>تاريخ  </strong></td>
                             <td class="text-center"><strong>العملاء  </strong></td>
                            <td class="text-center"><strong>عدد العناصر </strong></td>
                            <td class="text-center"><strong>مبلغ </strong></td>
                          </tr>
                        </thead>
                        <tbody>
                         <tr ng-repeat="odbycodeid in listofordersbypromocode">
                            <td>{{$index+1+transactionreportPageVo.currentIndex}}.</td>
                            <td class="text-left">{{odbycodeid.orderId}}</td>
                            <td class="text-left">{{odbycodeid.lastUpdatedTime|date}}</td>
                            <td class="text-left">{{odbycodeid.customerName}}</td>
                            <td class="text-left">{{odbycodeid.numberOfItems}}</td>
                            <td class="text-left">{{odbycodeid.netPrice}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  
                    <div class="row">
                       
                          <div class="col-md-6 text-left ">
                            <ul class="pagination">
                              <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getpromocodedetails($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                            </ul>
                          </div>
                       
                          <div class="col-sm-6 text-right">عرض {{$index + 1 + transactionreportPageVo.currentIndex}} إلى {{finalcount}} من {{totalnumber}} ({{noPages}} صفحات )
                          </div>
                        
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>
  </div>
  <!-- ARABIC -->
  <!-- page content -->
