<div class="loadingSpinner" >
    <div class="loadingSpinner-inner">
    <div class="loadingCenter">
    <!-- <img style="max-width: 60px;height: auto;" src="nodejs/dist/images/jobdile.png"> -->
   <img src="public/script/www/img/loading.gif" style="width: 100%;">
    </div>
    </div>
</div>
