<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Sales Reports </h3>
        </div>
      
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Choose the Report Type</h3>
          </div>
          <div class="panel-body">
            <div class="well">
              <div class="input-group">
                <select name="report" class="form-control" ng-model="customerOrderReport"   ng-change="viewsalesreport(customerOrderReport)" >
                  <!-- <option>Customer Activity Report</option> -->
                  <option value=""> - Select Any One - </option>
                  <option value="1">Category Wise Report</option>
                  <option value="3">Subcategory Wise Report</option>
                      <option value="2">Product Wise Report</option>
                          <option value="6">Customer Wise Report</option>
                  <!-- <option >Customer Reward Points Report</option> -->
                </select>
                <span class="input-group-addon"><i class="fa fa-eye text-green "></i> View</span></div>
            </div>
          </div>
        </div>
        <div>
          <div ng-if="customerOrderReport==1">
            <div class="row">
              <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                  </div>
                  <div class="panel-body">
                  
                   
                    <div class="form-group">
                      <label class="control-label" for="input-date-start">Date Start</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filtercategoryrpt.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">Date End</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filtercategoryrpt.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group text-right">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filtersalesreports(filtercategoryrpt)"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-md-pull-3 col-sm-12">
                <div>
                  <span class="pull-right">
                        <button ng-click="export()">Download as Pdf</button>
                       </span>
                </div>
                <div id="exportthis">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Sales Report (Category Wise)</h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-left">Sl.No</td>
                              <td class="text-left">Category Name</td>
                              <td class="text-left">Total No.of Orders</td>
                              <td class="text-left">Net Amount</td>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rept in salesreport">
                              <!-- <td></td> -->
                              <td>{{$index+1+salesreportPageVo.currentIndex}}.</td>
                              <td>{{rept.categoryName}}</td>
                              <td>{{rept.sumOfOrderId}}</td>
                           
                            
                              <td>{{rept.totalNetAmount}} SAR</td>
                            <!--   <td>{{order.netPrice}}</td> -->
                            </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">No results!</td>
                            </tr>
                          </tbody>
                        </table>
                    <!--     <ul class="pagination">
                          <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getsalesreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                          </li>
                        </ul> -->
      <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(catwiseSaleReportCONSTANT,1)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(catwiseSaleReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(catwiseSaleReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(catwiseSaleReportCONSTANT,1,lastIndex)" style="min-width: 55px;">Next  &nbsp;<i class="fa fa-angle-right"></i></a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(catwiseSaleReportCONSTANT,1,totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </li>
      </ul>
                      </div>
                    </div>
                  </div>
                  <!--  ############ -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--   CUSTOMER PAID REPORT -->
         <div ng-if="customerOrderReport==2">
            <div class="row">
              <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                  </div>
                  <div class="panel-body">
                  
                   
                  <!--   <div class="form-group">
                      <label class="control-label" for="input-date-start">Date Start</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filteruserorder.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">Date End</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filteruserorder.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div> -->
                      <div class="form-group">
                      <label class="control-label" for="input-date-start">Date Start</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filterproductrpt.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">Date End</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filterproductrpt.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group text-right">
                      <!-- <button type="button" id="button-filter" class="btn btn-default" ng-click="filtersalesreports(filterproductrpt)"><i class="fa fa-filter"></i> Filter</button> -->
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filtersalesreports(filterproductrpt)"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-md-pull-3 col-sm-12">
                <div>
                  <span class="pull-right">
                        <button ng-click="export()">Download as Pdf</button>
                       </span>
                </div>
                <div id="exportthis">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Sales Report (Product Wise)</h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-left">Sl.No</td>
                              <td class="text-left" style="width:  52%;">Product Name</td>
                              <td class="text-left">Total No.of Orders</td>
                              <td class="text-left">Net Amount</td>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rept in salesreport">
                              <!-- <td></td> -->
                              <td>{{$index+1+salesreportPageVo.currentIndex}}.</td>
                              <td>{{rept.productName}}</td>
                              <td>{{rept.sumOfOrderId}}</td>
                           
                            
                              <td>{{rept.totalNetAmount}} SAR</td>
                            <!--   <td>{{order.netPrice}}</td> -->
                            </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">No results!</td>
                            </tr>
                          </tbody>
                        </table>
                       <!--  <ul class="pagination">
                          <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getsalesreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                          </li>
                        </ul> -->
                         <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(productwiseSaleReportCONSTANT,1)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(productwiseSaleReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(productwiseSaleReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(productwiseSaleReportCONSTANT,1,lastIndex)" style="min-width: 55px;">Next  &nbsp;<i class="fa fa-angle-right"></i></a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(productwiseSaleReportCONSTANT,1,totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </li>
          </ul>
                      </div>
                    </div>
                  </div>
                  <!--  ############ -->
                </div>
              </div>
            </div>
          </div>

         <div ng-if="customerOrderReport==3">
            <div class="row">
              <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                  </div>
                  <div class="panel-body">
                  
                   
                   <!--  <div class="form-group">
                      <label class="control-label" for="input-date-start">Date Start</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filteruserorder.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">Date End</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filteruserorder.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div> -->
                       <div class="form-group">
                      <label class="control-label" for="input-date-start">Date Start</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filtersubcategoryrpt.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">Date End</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filtersubcategoryrpt.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group text-right">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filtersalesreports(filtersubcategoryrpt)"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-md-pull-3 col-sm-12">
                <div>
                  <span class="pull-right">
                        <button ng-click="export()">Download as Pdf</button>
                       </span>
                </div>
                <div id="exportthis">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Sales Report (Subcategory Wise)</h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-left">Sl.No</td>
                              <td class="text-left">Subcategory Name</td>
                              <td class="text-left">Total No.of Orders</td>
                              <td class="text-left">Net Amount</td>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rept in salesreport">
                              <!-- <td></td> -->
                              <td>{{$index+1+salesreportPageVo.currentIndex}}.</td>
                              <td>{{rept.subCategoryName}}</td>
                              <td>{{rept.sumOfOrderId}}</td>
                           
                            
                              <td>{{rept.totalNetAmount}} SAR</td>
                            <!--   <td>{{order.netPrice}}</td> -->
                            </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">No results!</td>
                            </tr>
                          </tbody>
                        </table>
                    <!--     <ul class="pagination">
                          <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getsalesreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                          </li>
                        </ul> -->
                           <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(subCatwiseSaleReportCONSTANT,1)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(subCatwiseSaleReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(subCatwiseSaleReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(subCatwiseSaleReportCONSTANT,1,lastIndex)" style="min-width: 55px;">Next  &nbsp;<i class="fa fa-angle-right"></i></a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(subCatwiseSaleReportCONSTANT,1,totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </li>
          </ul>
                      </div>
                    </div>
                  </div>
                  <!--  ############ -->
                </div>
              </div>
            </div>
          </div>

            <div ng-if="customerOrderReport==6">
            <div class="row">
              <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                  </div>
                  <div class="panel-body">
                  
                   
                  <!--   <div class="form-group">
                      <label class="control-label" for="input-date-start">Date Start</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filteruserorder.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">Date End</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filteruserorder.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div> -->
                      <div class="form-group">
                      <label class="control-label" for="input-date-start">Date Start</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filtercustomerrpt.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">Date End</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filtercustomerrpt.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group text-right">
                      <!-- <button type="button" id="button-filter" class="btn btn-default" ng-click="filteruserorderreports(filtercustomerrpt)"><i class="fa fa-filter"></i> Filter</button> -->
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filtersalesreports(filtercustomerrpt)"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-md-pull-3 col-sm-12">
                <div>
                  <span class="pull-right">
                        <button ng-click="export()">Download as Pdf</button>
                       </span>
                </div>
                <div id="exportthis">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Sales Report (Customer Wise)</h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-left">Sl.No</td>
                              <td class="text-left">Customer Name</td>
                              <td class="text-left">Total No.of Orders</td>
                              <td class="text-left">Net Amount</td>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rept in salesreport">
                              <!-- <td></td> -->
                              <td>{{$index+1+salesreportPageVo.currentIndex}}.</td>
                              <td>{{rept.customerName}}</td>
                              <td>{{rept.sumOfOrderId}}</td>
                           
                            
                              <td>{{rept.totalNetAmount}} SAR</td>
                            <!--   <td>{{order.netPrice}}</td> -->
                            </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">No results!</td>
                            </tr>
                          </tbody>
                        </table>
                     <!--    <ul class="pagination">
                          <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getsalesreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                          </li>
                        </ul> -->
                            <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(customerwiseSaleReportCONSTANT,1)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(customerwiseSaleReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(customerwiseSaleReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(customerwiseSaleReportCONSTANT,1,lastIndex)" style="min-width: 55px;">Next  &nbsp;<i class="fa fa-angle-right"></i></a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(customerwiseSaleReportCONSTANT,1,totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </li>
          </ul>
                      </div>
                    </div>
                  </div>
                  <!--  ############ -->
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
    <!--  <div class="clearfix"></div> -->
    <!--  <div class="clearfix"></div> -->
    <!-- /form input knob -->
  </div>
</div>
<!-- /page content -->
<!-- <div class="clearfix"></div> -->
</div>
<!-- page content -->
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">



  <!--     ######################## -->

        <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
          <h3>تقارير المبيعات </h3>
        </div>
      
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> اختر نوع التقرير </h3>
          </div>
          <div class="panel-body">
            <div class="well">
              <div class="input-group">
                <select name="report" class="form-control" ng-model="customerOrderReport"   ng-change="viewsalesreport(customerOrderReport)" >
                  <!-- <option>Customer Activity Report</option> -->
                  <option value=""> - اختر أي واحد- </option>
                  <option value="1">فئة تقرير حكيم </option>
                  <option value="3">فرعية تقرير الحكمة </option>
                      <option value="2">تقرير منتج حكيم </option>
                          <option value="6">تقرير العميل الحكيم </option>
                  <!-- <option >Customer Reward Points Report</option> -->
                </select>
                <span class="input-group-addon"><i class="fa fa-eye text-green "></i> </span></div>
            </div>
          </div>
        </div>
        <div>
          <div ng-if="customerOrderReport==1">
            <div class="row">
              <div id="filter-report" class="col-md-3 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> فلتر </h3>
                  </div>
                  <div class="panel-body">
                  
                   
                 <!--    <div class="form-group">
                      <label class="control-label" for="input-date-start">تاريخ البدء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filteruserorder.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">تاريخ الانتهاء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filteruserorder.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div> -->
                      <div class="form-group">
                      <label class="control-label" for="input-date-start">تاريخ البدء  </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filtercategoryrpt.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">تاريخ الانتهاء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filtercategoryrpt.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group text-right">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filtersalesreports(filtercategoryrpt)"><i class="fa fa-filter"></i> فلتر  </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9  col-sm-12">
                <div>
                  <span class="pull-right">
                        <button ng-click="export()">تنزيل بتنسيق Pdf </button>
                       </span>
                </div>
                <div id="exportthis">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> تقرير المبيعات (فئة وايز) </h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-center">رقم </td>
                              <td class="text-center">اسم الفئه </td>
                              <td class="text-center">إجمالي الطلبات </td>
                              <td class="text-center">كمية الشبكة </td>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rept in salesreport">
                              <!-- <td></td> -->
                              <td>{{$index+1+salesreportPageVo.currentIndex}}.</td>
                              <td>{{rept.categoryNameAr}}</td>
                              <td>{{rept.sumOfOrderId}}</td>
                           
                            
                              <td>{{rept.totalNetAmount}} ريال سعودي </td>
                            <!--   <td>{{order.netPrice}}</td> -->
                            </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">لا نتائج!</td>
                            </tr>
                          </tbody>
                        </table>
                       <!--  <ul class="pagination">
                          <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getsalesreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                          </li>
                        </ul> -->
          

                     <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(catwiseSaleReportCONSTANT,1)" style="min-width: 55px;"><!-- First -->الأول   &nbsp; <i class="fa fa-angle-double-left"></i></a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(catwiseSaleReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><!-- Prev -->سابق   &nbsp; <i class="fa fa-angle-left"></i></a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(catwiseSaleReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(catwiseSaleReportCONSTANT,1,lastIndex)" style="min-width: 55px;"><!-- Next -->&nbsp;<i class="fa fa-angle-right"></i>تالي  </a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(catwiseSaleReportCONSTANT,1,totalPage)" style="min-width: 55px;"> <!-- Last -->&nbsp;<i class="fa fa-angle-double-right"></i> الاخير </a>
            </li>
          </ul>

<!--                 <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(catwiseSaleReportCONSTANT,1)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(catwiseSaleReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(catwiseSaleReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(catwiseSaleReportCONSTANT,1,lastIndex)" style="min-width: 55px;">Next  &nbsp;<i class="fa fa-angle-right"></i></a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(catwiseSaleReportCONSTANT,1,totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </li>
      </ul> -->
                      </div>
                    </div>
                  </div>
                  <!--  ############ -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--   CUSTOMER PAID REPORT -->
         <div ng-if="customerOrderReport==2">
            <div class="row">
            <div id="filter-report" class="col-md-3 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> فلتر </h3>
                  </div>
                  <div class="panel-body">
                  
                   
                 <!--    <div class="form-group">
                      <label class="control-label" for="input-date-start">تاريخ البدء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filteruserorder.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">تاريخ الانتهاء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filteruserorder.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div> -->
                     <div class="form-group">
                      <label class="control-label" for="input-date-start">تاريخ البدء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filterproductrpt.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">تاريخ الانتهاء  </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filterproductrpt.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group text-right">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filtersalesreports(filterproductrpt)"><i class="fa fa-filter"></i> فلتر  </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-sm-12">
                <div>
                  <span class="pull-right">
                        <button ng-click="export()">تنزيل بتنسيق Pdf </button>
                       </span>
                </div>
                <div id="exportthis">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> تقرير المبيعات (المنتج) </h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-center">رقم </td>
                              <td class="text-center" style="width:  52%;">اسم المنتج </td>
                              <td class="text-center">إجمالي الطلبات </td>
                              <td class="text-center">كمية الشبكة </td>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rept in salesreport">
                              <!-- <td></td> -->
                              <td>{{$index+1+salesreportPageVo.currentIndex}}.</td>
                              <td>{{rept.productNameAr}}</td>
                              <td>{{rept.sumOfOrderId}}</td>
                           
                            
                              <td>{{rept.totalNetAmount}} ريال سعودي </td>
                            <!--   <td>{{order.netPrice}}</td> -->
                            </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">لا نتائج!</td>
                            </tr>
                          </tbody>
                        </table>
                      <!--   <ul class="pagination">
                          <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getsalesreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                          </li>
                        </ul> -->
                         <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(productwiseSaleReportCONSTANT,1)" style="min-width: 55px;"><!-- First -->الأول   &nbsp; <i class="fa fa-angle-double-left"></i></a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(productwiseSaleReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><!-- Prev -->سابق   &nbsp; <i class="fa fa-angle-left"></i></a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(productwiseSaleReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(productwiseSaleReportCONSTANT,1,lastIndex)" style="min-width: 55px;"><!-- Next -->&nbsp;<i class="fa fa-angle-right"></i>تالي  </a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(productwiseSaleReportCONSTANT,1,totalPage)" style="min-width: 55px;"> <!-- Last -->&nbsp;<i class="fa fa-angle-double-right"></i> الاخير </a>
            </li>
          </ul>
                      </div>
                    </div>
                  </div>
                  <!--  ############ -->
                </div>
              </div>
            </div>
          </div>

         <div ng-if="customerOrderReport==3">
            <div class="row">
            <div id="filter-report" class="col-md-3 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> فلتر </h3>
                  </div>
                  <div class="panel-body">
                  
                   
                  <!--   <div class="form-group">
                      <label class="control-label" for="input-date-start">تاريخ البدء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filteruserorder.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">تاريخ الانتهاء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filteruserorder.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div> -->
                     <div class="form-group">
                      <label class="control-label" for="input-date-start">تاريخ البدء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filtersubcategoryrpt.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">تاريخ الانتهاء  </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filtersubcategoryrpt.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group text-right">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filtersalesreports(filtersubcategoryrpt)"><i class="fa fa-filter"></i> فلتر  </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9  col-sm-12">
                <div>
                  <span class="pull-right">
                        <button ng-click="export()">تنزيل بتنسيق Pdf </button>
                       </span>
                </div>
                <div id="exportthis">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> تقرير المبيعات (الفئة الفرعية) </h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-center">رقم </td>
                              <td class="text-center">اسم الفئه الفرعيه</td>
                              <td class="text-center">إجمالي الطلبات </td>
                              <td class="text-center">كمية الشبكة </td>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rept in salesreport">
                              <!-- <td></td> -->
                              <td>{{$index+1+salesreportPageVo.currentIndex}}.</td>
                              <td>{{rept.subCategoryNameAr}}</td>
                              <td>{{rept.sumOfOrderId}}</td>
                           
                            
                              <td>{{rept.totalNetAmount}} ريال سعودي </td>
                            <!--   <td>{{order.netPrice}}</td> -->
                            </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">لا نتائج! </td>
                            </tr>
                          </tbody>
                        </table>
                    <!--     <ul class="pagination">
                          <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getsalesreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                          </li>
                        </ul> -->


                     <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(subCatwiseSaleReportCONSTANT,1)" style="min-width: 55px;"><!-- First -->الأول   &nbsp; <i class="fa fa-angle-double-left"></i></a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(subCatwiseSaleReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><!-- Prev -->سابق   &nbsp; <i class="fa fa-angle-left"></i></a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(subCatwiseSaleReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(subCatwiseSaleReportCONSTANT,1,lastIndex)" style="min-width: 55px;"><!-- Next -->&nbsp;<i class="fa fa-angle-right"></i>تالي  </a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(subCatwiseSaleReportCONSTANT,1,totalPage)" style="min-width: 55px;"> <!-- Last -->&nbsp;<i class="fa fa-angle-double-right"></i> الاخير </a>
            </li>
          </ul>
                      </div>
                    </div>
                  </div>
                  <!--  ############ -->
                </div>
              </div>
            </div>
          </div>

            <div ng-if="customerOrderReport==6">
            <div class="row">
            <div id="filter-report" class="col-md-3 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> فلتر </h3>
                  </div>
                  <div class="panel-body">
                  
                   
                   <!--  <div class="form-group">
                      <label class="control-label" for="input-date-start">تاريخ البدء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filteruserorder.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">تاريخ الانتهاء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filteruserorder.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div> -->
                      <div class="form-group">
                      <label class="control-label" for="input-date-start">تاريخ البدء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filtercustomerrpt.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">تاريخ الانتهاء </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filtercustomerrpt.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group text-right">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filtersalesreports(filtercustomerrpt)"><i class="fa fa-filter"></i> فلتر  </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9  col-sm-12">
                <div>
                  <span class="pull-right">
                        <button ng-click="export()">تنزيل بتنسيق Pdf </button>
                       </span>
                </div>
                <div id="exportthis">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i>تقرير المبيعات (العملاء)</h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-center">رقم </td>
                              <td class="text-center"> اسم العملاء </td>
                              <td class="text-center">إجمالي الطلبات</td>
                              <td class="text-center">كمية الشبكة</td>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="rept in salesreport">
                              <!-- <td></td> -->
                              <td>{{$index+1+salesreportPageVo.currentIndex}}.</td>
                              <td>{{rept.customerName}}</td>
                              <td>{{rept.sumOfOrderId}}</td>
                           
                            
                              <td>{{rept.totalNetAmount}} ريال سعودي </td>
                            <!--   <td>{{order.netPrice}}</td> -->
                            </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">لا نتائج! </td>
                            </tr>
                          </tbody>
                        </table>
                     <!--    <ul class="pagination">
                          <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getsalesreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                          </li>
                        </ul> -->
                                     <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(customerwiseSaleReportCONSTANT,1)" style="min-width: 55px;"><!-- First -->الأول   &nbsp; <i class="fa fa-angle-double-left"></i></a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(customerwiseSaleReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><!-- Prev -->سابق   &nbsp; <i class="fa fa-angle-left"></i></a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(customerwiseSaleReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(customerwiseSaleReportCONSTANT,1,lastIndex)" style="min-width: 55px;"><!-- Next -->&nbsp;<i class="fa fa-angle-right"></i>تالي  </a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(customerwiseSaleReportCONSTANT,1,totalPage)" style="min-width: 55px;"> <!-- Last -->&nbsp;<i class="fa fa-angle-double-right"></i> الاخير </a>
            </li>
          </ul>
                      </div>
                    </div>
                  </div>
                  <!--  ############ -->
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>


   <!--    ########################### -->
    </div>
    <!-- /page content -->
  </div>
</div>
<!-- ARABIC -->
<!-- page content -->
<div class="clearfix"></div>
