<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Tax Reports </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <div class="row">
            <div id="filter-report" class="col-md-12 col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                </div>
                <div class="panel-body">
                  <div class="col-md-12">
                    <div class="form-group col-md-3">
                      <label>Tax </label>
                      <select class="form-control" ng-model="filter.taxId" ng-options="tax as tax.taxName for tax in taxes">
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="control-label" for="input-date-start">Start Date</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filter.startdate" placeholder="Date Start" data-date-format="DD-MM-YYYY" id="startdate" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="control-label" for="input-date-end">End Date</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filter.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="enddate" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-2">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filterTaxReport(filter)" style="float: left;    margin-top: 25px;"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12" ng-if="viewTaxTable">
              <!--  <div>
            <span class="pull-right">
                        <button ng-click="downloadproductreport()">Download as Pdf</button>
                       </span>
          </div> -->
              <div id="exportproductreport">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Tax Report</h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td class="text-center">Start Date</td>
                            <td class="text-center">End Date </td>
                            <td class="text-center">Tax Name </td>
                            <td class="text-center">No. Orders</td>
                            <td class="text-center">Total</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-if="taxReport.length!=0">
                            <td class="text-center">{{selectedStartDate|date}}</td>
                            <td class="text-center">{{selectedEndDate|date}}</td>
                            <td class="text-center">{{selectedTaxName}}</td>
                            <td class="text-center">{{taxReport.TOTALCOUNTS}}</td>
                            <td class="text-center">{{taxReport.TOTALTAX | number:2}} SAR</td>
                          </tr>
                          <tr ng-if="taxReport.length==0">
                            <td class="text-center" colspan="5">No results!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!--item lists -- start-->
               <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart"></i>Sold Items </h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td class="text-center">Sl.No</td>
                            <td class="text-center">Order ID </td>
                            <td class="text-center">Date</td>
                            <td class="text-center">Item</td>
                            <td class="text-center">Quantity</td>
                            <td class="text-center">Tax Amount</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-if="itemOrderLists.length!=0" ng-repeat="item in itemOrderLists">
                            <td class="text-center">{{ $index+1}}</td>
                            <td class="text-center">{{item.orderId}}</td>
                            <td class="text-center">{{item.lastUpdatedTime|date}}</td>                            
                            <td class="text-center">{{item.itemName}}</td>
                            <td class="text-center">{{item.itemQuantity}}</td>
                            <td class="text-center">{{item.tax | number:2}} SAR</td>
                          </tr>
                          <tr ng-if="taxReport.length==0">
                            <td class="text-center" colspan="6">No results!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!---item list -- end---->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
          <h3><!-- Tax Reports --> تقارير الضرائب  </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <div class="row">
            <div id="filter-report" class="col-md-12 col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> <!-- Filter -->فلتر  </h3>
                </div>
                <div class="panel-body">
                  <div class="col-md-12">
                      <div class="form-group col-md-2">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filterTaxReport(filter)" style="margin-top: 25px;"><i class="fa fa-filter"></i> <!-- Filter -->فلتر </button>
                    </div>
                     <div class="form-group col-md-3">
                      <label class="control-label" for="input-date-end"><!-- End Date -->تاريخ الانتهاء  </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filter.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="enddate" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="control-label" for="input-date-start"><!-- Start Date -->تاريخ البدء  </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filter.startdate" placeholder="Date Start" data-date-format="DD-MM-YYYY" id="startdate" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <label><!-- Tax -->ضريبة </label>
                      <select class="form-control" ng-model="filter.taxId" ng-options="tax as tax.taxName for tax in taxes">
                      </select>
                    </div>
                    
                   
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12" ng-if="viewTaxTable">
              <!--  <div>
            <span class="pull-right">
                        <button ng-click="downloadproductreport()">Download as Pdf</button>
                       </span>
          </div> -->
              <div id="exportproductreport">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart"></i><!--  Tax Report -->تقارير الضرائب  </h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td class="text-center"><!-- Start Date -->تاريخ البدء  </td>
                            <td class="text-center"><!-- End Date --> تاريخ الانتهاء   </td>
                            <td class="text-center"><!-- Tax Name --> اسم الضريبة </td>
                            <td class="text-center"><!-- No. Orders -->عدد الطلبات  </td>
                            <td class="text-center"><!-- Total -->المجموع </td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-if="taxReport.length!=0">
                            <td class="text-center">{{selectedStartDate|date}}</td>
                            <td class="text-center">{{selectedEndDate|date}}</td>
                            <td class="text-center">{{selectedTaxName}}</td>
                            <td class="text-center">{{taxReport.TOTALCOUNTS}}</td>
                            <td class="text-center">{{taxReport.TOTALTAX | number:2}} <!-- SAR -->ر.س  </td>
                          </tr>
                          <tr ng-if="taxReport.length==0">
                            <td class="text-center" colspan="5"><!-- No results! -->لا نتائج! </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
                       <!--item lists -- start-->
               <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart"></i><!-- Sold Items  -->البنود المباعة </h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td class="text-center"><!-- Sl.No -->رقم متسلسل</td>
                            <td class="text-center"><!-- Order ID --> رقم هوية الطلب  </td>
                            <td class="text-center"><!-- Date -->تاريخ </td>
                            <td class="text-center"><!-- Item -->اسم المنتج  </td>
                            <td class="text-center"><!-- Quantity -->كمية المنتج</td>
                            <td class="text-center"><!-- Tax Amount -->قيمة الضريبة </td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-if="itemOrderLists.length!=0" ng-repeat="item in itemOrderLists">
                            <td class="text-center">{{ $index+1}}</td>
                            <td class="text-center">{{item.orderId}}</td>
                            <td class="text-center">{{item.lastUpdatedTime|date}}</td>                            
                            <td class="text-center">{{item.itemName}}</td>
                            <td class="text-center">{{item.itemQuantity}}</td>
                            <td class="text-center">{{item.tax | number:2}} <!-- SAR -->ر.س  </td>
                          </tr>
                          <tr ng-if="taxReport.length==0">
                            <td class="text-center" colspan="6"><!-- No results! -->لا نتائج! </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!---item list -- end---->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- page content -->
