


            
                <h3>List of Orders By Customer: {{order.customerName}}</h3>
                
                	<div class="row">
                <div class="col-lg-2 pull-right">
                                        <a href="#/admin/customer" class="btn btn-block btn-primary " role="button">Back to Customer </a>
                                    </div>
                
               


                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">


                                    <!-- <div class="col-lg-3  pull-right">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="customerSearch" />
                                            <span class="input-group-btn ">
			                	<button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
		                	</span>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Order Id </th>
                                                <th>Store Name  </th>
                                                <th>Number of Item </th>
                                                 <th>Net Price </th>


                                                <th>Order Status </th>
                                                <th>Actions </th>




                                            </tr>
                                        </thead>

                                       
                                            <tr ng-repeat="order in ordersbyuserId " >
                                                <td>{{$index+1}}.</td>
                                                <td>{{order.orderId}}</td>
                                                <td>{{order.storeName}}</td>
                                                <td>{{order.numberOfItems}}</td>
                                                 <td>{{order.netPrice}}</td>
                                                 <!--  <td>{{order.deliveryDate}}</td> -->
                                                 
                                                 <td data-ng-if="order.orderstatus==1">
                                <div class="tools action-buttons" style="display: block;">
                                   <!--  <span class="label label-mylabel label-lg ng-scope"
                                        style="background-color: #f44842">Ordered</span>
 -->                                    <span class="label  label-lg ng-scope" style="background-color: #f441b2" >Ordered</span>
                                </div>
                            </td>
                                                 <td data-ng-if="order.orderstatus==2">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-warning label-lg ng-scope">Confirmed</span>
                                </div>
                            </td>
                             <td data-ng-if="order.orderstatus==3">
                                <div class="tools action-buttons" style="display: block;">
                                   <!--  <span class="label label-mylabel label-lg ng-scope"
                                        style="background-color: #f44842">Ordered</span>
 -->                                    <span class="label  label-lg ng-scope" style="background-color: #41cdf4" >Ordered</span>
                                </div>
                            </td>
                            <td data-ng-if="order.orderstatus==4">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Delivered</span>
                                </div>
                            </td>
                            <td data-ng-if="order.orderstatus==5">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Cancelled</span>
                                </div>
                            </td>
                            <td data-ng-if="order.orderstatus==6">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-info label-lg ng-scope">Ready To Delivery</span>
                                </div>
                            </td>
                            <th>
                               
                                <a ng-click="vieworderdetails(order)"> <i class="fa fa-eye text-green"></i></a><!-- &nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="categorymanage(category)" href=""><i class="fa fa-pencil text-aqua"></i></a>
 -->


                               
                            </th>


                                                

                                            </tr>
                                           
                                            
                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>


       


