


            
                <h3>Customer Statistics - إحصاءات العملاء</h3>
                <div class="row">


                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <!-- <div class="row">


                                    <div class="col-lg-3  pull-right">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="customerSearch" />
                                            <span class="input-group-btn ">
			                	<button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
		                	</span>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-lg-3 ">
                                         <div class="form-group">
                                    <label>Country &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الدولة</label> 
                                     <select class="form-control" ng-change="changeCountry(search.countryId)" ng-model="search.countryId" >
         <option ng-repeat="country in countries" ng-value="country.countryId" >{{country.countryName}}</option>
    </select>

                                </div>

                             

                                    
                            </div>
                            <div class="col-lg-3 ">
                                <div class="form-group">
                                    <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مدينة</label> 
                                     <select class="form-control" ng-change="" ng-model="search.cityId">
         <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityName }}</option>
    </select>

                                </div>

                                <!-- <div class="form-group">
                                    <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الفئة</label> 
                                     <select class="form-control" ng-change="" ng-model="city.countryId">
         <option ng-repeat="country in countries" ng-value="country.countryId">{{country.countryName}}</option>
    </select>

                                </div> -->
                            </div>
                            <div class="col-lg-2 ">
                            <div class="form-group"
                                    data-ng-class="{ 'has-error' : auctionsearchForm.formDate.$invalid &amp;&amp; !auctionsearchForm.formDate.$pristine}">
                                    <label>From  </label> <input
                                        class="form-control" data-ng-model="search.fromDate"
                                         id="fromDate" placeholder="Enter Start Date"
                                        type="date" required="required" /> 
                                </div>
                            </div>
                            <div class="col-lg-2 ">

                                <div class="form-group"
                                    data-ng-class="{ 'has-error' : auctionsearchForm.toDate.$invalid &amp;&amp; !auctionsearchForm.toDate.$pristine}">
                                    <label>To  </label> <input
                                        class="form-control" data-ng-model="search.toDate"
                                         id="toDate" placeholder="Enter End Date"
                                        type="date" required="required" /> 
                                </div>
                            </div>
                            <br>
                            <div class="col-lg-2">


                        <a ng-click="customerSearch(search)" class="btn btn-block btn-primary"
                            role="button">Search</a>
                           
                    </div>
                    <!--  Name: <input ng-model="search.countryName"/> -->
                           
                      

                            
                                </div>

                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Customer Name </th>
                                                <th>City </th>
                                                <th>Country </th>
                                                <th>Total Pay </th>
                                                 <th>Actions </th>







                                            </tr>
                                        </thead>


                                       
                                            <tr ng-repeat = "statistic in customerstatistics">
                                                <td>{{$index+1}}.</td>
                                                <td><a href="#/admin/listofcustomerorder">{{statistic.customerName}}</a></td>
                                               <!--  <td>ring</td> -->
                                                <td>{{statistic.city}}</td>
                                                 <td>{{statistic.country}}</td>
                                                <td>{{statistic.totalPay}}</td>
                                                <th>
                               
                                <a ng-click="viewcustomerstatistics(statistic)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<!-- <a ng-click="categorymanage(category)" href=""><i class="fa fa-pencil text-aqua"></i></a> -->



                               
                            </th>


                                               
                                            
                                            </tr>
                                            
                                            
                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>


       


