<div class="login">
   
     

      <div class="login_wrapper" style="margin: 5% 5% auto auto;">
        <div class="animate form login_form" >
          <section class="login_content">
            <form>
              <h1>مشرف  </h1>
              <div class="form-group">
                  <label for="signin-email" class="control-label sr-only">البريد الإلكتروني  </label>
                  <input type="email" class="form-control" id="email"  ng-model="user.email" placeholder="البريد الإلكتروني  ">
                </div>
              <div class="form-group">
                  <label for="signin-password" class="control-label sr-only">كلمه السر  </label>
                  <input type="password" class="form-control" ng-model="user.password" id="password"  placeholder="كلمه السر  " >
                </div>
              <div>
                <button type="submit" class="btn btn-login btn-lg btn-block" ng-click="login(user);">تسجيل الدخول  </button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <!-- <p class="change_link">New to site? -->
                 <!--  <a href="#signup" class="to_register"> Create Account </a>
                </p>
 -->
                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><img src="public/script/img/pentallogoar.png" style="width: 160px;height: 60px;"><!-- <i class="fa fa-shopping-cart"></i>  Pental --></h1>
                 <!--  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p> -->
                </div>
              </div>
            </form>
          </section>
        </div>

       
        </div>
      
    </div>
 