<h2>shs</h2>
<table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{user.name}}</td>
        <td title="'Phone'" filter="{ age: 'number'}" sortable="'age'">
            {{user.phone}}</td>

            <td title="'Date Added'"  sortable="'timestamp'">
            {{user.timestamp|date:'dd/MMM/yyyy'}}</td>
    </tr>
</table>