
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add Tax </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
         <div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/category" class="btn btn-block btn-primary " role="button">Back to Category</a>
                                    </div>
                
                </div>
                
                <div class="row">
                    
                   
                    <div class="panel">
								<div class="panel-heading">
									<h2 class="panel-title "><b></b></h2>
								</div>
                        <form role="form" name="taxForm">
								<div class="panel-body">
                                    <div class="col-lg-6">
								<div class="form-group"
									data-ng-class="{ 'has-error' : taxForm.taxName.$invalid &amp;&amp; !taxForm.taxName.$pristine}">
									<label for="taxName">Tax Name  </label> <input
										class="form-control" data-ng-model="tax.taxName"
										name="taxName" id="taxName" placeholder="Enter TaxName"
										type="text" required="required" /> 
								</div>
                <div class="form-group">
            <label>Country &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الدولة</label>
            <select class="form-control" ng-change="changeCountry(tax.countryId)" ng-model="tax.countryId">
              <option ng-repeat="country in countries" ng-value="country.countryId">{{country.countryName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مدينة</label>
            <select class="form-control" ng-change="" ng-model="tax.cityId">
              <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityName }}</option>
            </select>
          </div>
          <div class="form-group"
                  data-ng-class="{ 'has-error' : taxForm.taxPercentage.$invalid &amp;&amp; !taxForm.taxPercentage.$pristine}">
                  <label for="taxPercentage">Tax Percentage  </label> <input
                    class="form-control" data-ng-model="tax.taxPercentage"
                    name="taxPercentage" id="taxPercentage" placeholder="Enter taxPercentage"
                    type="text" required="required" /> 
                </div>
                                        
                                        
								
								
								<!-- <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.discriptionAr.$invalid &amp;&amp; !categoryForm.discriptionAr.$pristine}">
									<label for="discriptionAr"> الفئة الصنف </label>
									<textarea class="form-control"
										data-ng-model="category.discriptionAr" name="discriptionAr"
										id="discriptionAr" placeholder=" وصف الصنف " required="required"
										rows="2"></textarea>

								</div> -->
								<!-- <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.rank.$invalid &amp;&amp; !categoryForm.rank.$pristine}">
									<label for="rank">Sort Order  </label> <input
										class="form-control" data-ng-model="category.rank"
										name="rank" id="rank" placeholder="Enter Sort Order"
										type="number" min="1" max="99999" required="required" /> 
								</div>
 -->
                                        
									
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : taxForm.status.$invalid &amp;&amp; !taxForm.status.$pristine}">
									<label for="status">Tax Status &nbsp;&nbsp;&nbsp;&nbsp;   حالة الفئة</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="status" value="0" ng-model="tax.status">Discontinued</label>
                                        <label class="radio-inline"><input type="radio" name="status" value="1" ng-model="tax.status">Active</label>
                                        
                                       
								</div>
                                        <!-- <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.delivaryStatus.$invalid &amp;&amp; !categoryForm.delivaryStatus.$pristine}">
									<label for="delivaryStatus">Delivery Status &nbsp;&nbsp;&nbsp;&nbsp; </label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="delivaryStatus" value="0" ng-model="category.delivaryStatus">Pickup from the Store</label>
                                        <label class="radio-inline"><input type="radio" name="delivaryStatus" value="1" ng-model="category.delivaryStatus">Delivery Available</label>
                                        
                                       
								</div> -->
                                       <!--  <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.color.$invalid &amp;&amp; !categoryForm.color.$pristine}">
									<label for="color">Menu Color &nbsp;&nbsp;&nbsp;&nbsp;  لون القائمة</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        
                                        Select your Menu color:
  <input type="color" name="color" ng-model="category.color"value="#ff0000">
							</div> -->
							 
            
            <div class="col-lg-12">
              
							
                                        <div class="box-footer">
							<button type="submit" class="btn btn-primary" ng-click="addTax(tax);">Submit</button>
						</div>
                    </div>
                
            </div>
                        </form>

              <!-- /form input knob -->

        




          </div>
        </div>
        <!-- /page content -->

            

       