<section class="adminshops" ng-init="tableview=false;itembox=true">
  <div class="row">
    <div class="col-md-8">
      <div class="box-header head">
        <img src="/public/script/www/img/tags.png" style="width: 30px;">
        <h3 class="box-title">All Product's</h3>
      </div>
    </div>
  </div>
  <div ng-show="!allproduct.length">
    <p style="text-align: center;"> No Data To Show</p>
  </div>
  <div ng-show="allproduct.length">
    <div class="all-products">
      <div class="row">
        <div ng-repeat="prod in allproduct" ng-if="prod">
          <div class="col-lg-2 col-md-3  col-sm-4 col-xs-12 product_box" style="padding:3px;">
              <div class="thumbnail thumbnail-box ">
                <!-- <div class="similar-img " style="background-image: url(/public/script/www/img/add/3.jpg); "> -->
                <div style="height: 150px;">
                        
                  <div class="similar-img" ng-repeat="pic in prod.featureOrPhotos|limitTo: 1" ng-show="pic.modeType===5" style="background-image: url({{fileupConstant}}/{{pic.data}});">
                    <div ng-if="!pic.data" class="noimage"></div>
                  </div>
                </div>
                <div class="caption caption-box">
                  <div class="row ">
                    <div class="row border-colour ">Click for More</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style ">
                      {{prod.mainCateogoryName}}</div>
                    <i class="fa fa-heart-o icon-like-productofuser" aria-hidden="true"></i>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding ">
                      <p><b class="font-size-contents ">{{prod.productName}}</b>
                      </p>
                      <span class="icon-rate">{{prod.rating}}/5</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-bottom-style " style="font-size: 9px; ">
                      {{prod.shopVo.address}}
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6  border-left-style " style="font-size: 9px; ">
                      <div class="row ">
                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 ">
                          <img width="10px " height="10px " src="/public/script/www/img/color/phone-receiver.png ">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 " style="padding-left: 0px; ">
                          {{prod.phone}}
                        </div>
                        <div class="col-md-5 "></div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color ">Specials
                      <div ng-repeat="pic in prod.featureOrPhotos" ng-show="pic.modeType===6"  ng-if="$index<3" style="color: #9a9a99;
    font-size: 9px;">{{pic.data}}
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style ">
                      <!-- <p style="margin-top: 14px;"><b class=" font-size-contents ">{{prod.price}}</b><i class="fa fa-inr " style="margin-left: 5px;
    font-size: 13px;
    color: #736d6d; "></i></p> -->
    <p style="margin-top: 14px;"><b class=" font-size-contents ">{{prod.price}}</b><i class="fa fa-inr price-tag-home"></i></p>
                              
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="thumbnail thumbnail-box">
               
                <div ng-repeat="pic in product.featureOrPhotos" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{pic.data}});">
                </div>
                <div class="caption">
                  <div class="row">
                    <div class="row border-colour">Click for More</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">
                      {{product.shopName}}</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                      <p>
                       <b class="font-size-contents">{{product.productName}}</b>
                        
                      </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-bottom-style" style="font-size: 9px; ">
                      <p>{{product.city}}</p>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-left-style" style="font-size: 9px; ">
                      <div class="row">
                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                          <img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding-left: 0px; ">
                          <p>{{product.productId}}</p>
                        </div>
                        <div class="col-md-5"></div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color">Specials
                      <div ng-repeat="pic in product.featureOrPhotos" ng-show="pic.modeType===6" style="color: #9a9a99;
    font-size: 9px;">{{pic.data}}
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style">
                      <p><b class=" font-size-contents">{{product.price}}</b><i class="fa fa-inr" style="font-size:10px;color:black"></i></p>
                    </div>
                  </div>
                </div>
              
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!nomoreproduct" class="moredata" ng-click="moredata();">Load More</div>
  <div ng-if="nomoreproduct" class="moredata">
    Completed</div>
</section>
