 <div class="item" ng-repeat="mainlist in mainCategoryArray" ng-class="{ active:$index==0}">
                                <div class="row">
                                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-12" ng-repeat="maincategory in mainlist">
                                        <div class="main-category-item">
                                            <a href="#/app/maincategoryitems.html">
                                            <!-- <div class="img-circle" align="middle" style="background-image: url(/public/script/www/img/007-restaurant.png);" alt=""></div> -->
                                            <div ng-if="maincategory=='Homemade'">
                                                <img class="img-circle" align="middle" src="/public/script/www/img/007-restaurant.png">
                                                <h5 class="center">
                                            </div>
                                              <div ng-if="maincategory=='Services'">
                                            <img class="img-circle" align="middle" src="/public/script/www/img/002-bow.png">
                                            </div>
                                            <h5 class="center">
                                                        {{maincategory}}</h5>
                                                        </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>