<div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2" ng-repeat="shop in shopList">
        <div class="thumbnail">
            <img ng-src="{{shop.imageUrl}}" alt="">
            <div class="caption" ng-init="style={'background-color' : 'red'}">
                <h4 class="pull-right">{{shop.priceStarts}}</h4>
                <h4><a href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}">{{shop.shopName}}</a>
                                </h4>
                <p>{{shop.discription}}</p>
                <h6><a href="#/addshop/{{shop.shopId}}">Edit</a></h6>
                <button class="btn-success" ng-style="style1" ng-click="getproducts(0,shop.shopId);style1=style">View products</button>
            </div>
            <div class="shop.ratings">
                <p class="pull-right">{{shop.rating}}</p>
                <p>
                    <span ng-if="shop.rating <= 1" class="glyphicon glyphicon-star"></span>
                    <span ng-if="shop.rating <= 2 && shop.rating > 1" class="glyphicon glyphicon-star"></span>
                    <span ng-if="shop.rating <= 3 && shop.rating > 1" class="glyphicon glyphicon-star"></span>
                    <span ng-if="shop.rating <= 4 && shop.rating > 1" class="glyphicon glyphicon-star"></span>
                    <span ng-if="shop.rating <= 5 && shop.rating > 1" class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </div>
    </div>

</div>
{{products}}
<div class="all-products">

<div class="row">
    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
        <div class="row">
            
            <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 min-width-head">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 head-row">
                <h3 class="head">Popular Shops</h3></div>
            <!-- <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 view-text">
                <p>View all</p>
            </div> -->
            <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3">
        <h4><a class="btn btn-info" href="#/app/addproduct/{{0}}">Add product</a>
    </div>
</div>
            </div>
            <div class="col-lg-6 col-md-6"></div>
        
        </div>
    </div>
</div>
<br>

    <div class="">
        <div class="row">
            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 product-box-row">
                
                        <div class="item" ng-repeat="shop in shopList" ng-class="{ active:$index==0}">
                            <div class="col-lg-2 col-md-3  col-sm-6 col-xs-12 product-box">
                                <div class="row">
                                    
                                       
                                            <div class="thumbnail thumbnail-box">
                                                <div class="similar-img" style="background-image: url(/public/script/www/img/add/3.jpg);">
                                                
                                                </div>
                                                <div class="caption">

                                                    <div class="row">
                                                    <!-- <div class="col-md-8">
                                                    <button class="btn-success" ng-style="style1" ng-click="getproducts(0,shop.shopId);style1=style">View products</button></div>
                                                    <div class="col-md-4">
                                                    <button class="btn-success" ng-style="style1" ng-click="getproducts(0,shop.shopId);style1=style">View products</button></div> -->
               <!--  <h6><a href="#/addshop/{{shop.shopId}}">Edit</a></h6> -->


                                                    <div class="row border-colour"><button ng-click="getproducts(0,shop.shopId);style1=style" style="    background-color: #7dad47;" class="col-md-8">View products</button>
                                                    <button href="#/addshop/{{shop.shopId}}" class="col-md-4"
                                                    style="background-color: #ffc233;" >Edit</button>
                                                    <!-- <a class="col-md-4" href="#/addshop/{{shop.shopId}}">Edit</a> --></div>
                                                       
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">
                                                        {{shop.shopTypeName}}</div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                                                            <p><a class=" font-size-contents" href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}"><b >{{shop.shopName}}</b></a>
                                                        </p></div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-bottom-style">
                                                            <p>{{shop.city}}</p>
                                                        </div>
                                                         <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-left-style">
                                                         <div class="row">
                                                         <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                                                        
                                                         <!-- <div class="phn-img" style="background-image: url(/public/script/www/img/color/phone-receiver.png");">
                                                
                                                </div> --><img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png">
                                                         </div>
                                                         <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding-left: 0px; ">
                                                            <p>{{shop.phoneNo}}</p></div>
                                                            <div class="col-md-5"></div>
                                                        </div></div>
                                                        <!-- <div class="ratings"> -->
                                                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color">Specials
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style"><p><b class=" font-size-contents">{{shop.priceStarts}}</b><i class="fa fa-inr" style="font-size:10px;color:black"></i></p></div>
                                                    
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
            </div>
        </div>
    </div>
   </div> 
<div class="row" ng-if="viewtable">
    <table ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="prod in products">
            <td title="'Product name'" filter="{ productName: 'text'}" sortable="'productName'">
                {{prod.productName}}</td>
            <td title="'Date'" sortable="'timestamp'">
                {{prod.lastUpdatedTime|date:'dd/MMM/yyyy'}}</td>
            <!--  <td title="'Image'" ng-init="prod.imageCount=0">
            <span ng-repeat="(key, value) in prod.images">
       
              <img class="thumbnail" style="width: 100px;height: auto;"  ng-if="$index==0" ng-src="{{value}}" />
          
            </span>
        </td> -->
            <td title="'Price'" filter="{ price: 'text'}" sortable="'price'">
                {{prod.price}}</td>
            <td title="'Main category'" filter="{mainCateogoryName:  'text'}" sortable="'mainCateogoryName'">{{prod.mainCateogoryName}}</td>
            <td title="'Category'" filter="{categoryName:  'text'}" sortable="'categoryName'">{{prod.categoryName}}</td>
            <td title="'Subcategory'" filter="{ 'subcategoryName': 'text'}" sortable="'subcategoryName'">{{prod.subcategoryName}}</td>
            <td title="'Rating'" filter="{ 'rating': 'text'}" sortable="'rating'">{{prod.rating}}</td>
            <td title="'No of reviews'" filter="{ 'noOfReviews': 'text'}" sortable="'noOfReviews'">{{prod.noOfReviews}}</td>
            <td title="'Show'">
                <a class="btn btn-info" href="#/app/addproduct/{{prod.productId}}">Edit </a>
            </td>
        </tr>
    </table>
</div>

