<div ng-if="langval==0">
  <div dir=rtl>
    <div class="rightarab_col" role="main" style="min-height: 1704px; background-color: white;">
    <div class="row">
      <!-- Column Chart-->
    <!--   <div class="col-lg-6 top15"> -->
        <!-- <div class="ibox float-e-margins "> -->
       <!--  <div class="ibox-content top10" id="demo2">
          <h2>المبيعات الشهرية</h2>
          <div class="demo-container">
            <div>
            
              <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="colors" chart-click="onClick"></canvas>
            </div>
          </div>
        </div> -->
          <div class="col-lg-6 top15">
     <div class="container">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab"  data-target="#home">المبيعات الشهرية </a></li>
                  <li><a data-toggle="tab"  data-target="#Confirmed">مبيعات أسبوعية  </a></li>
                 
                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                  
                   <div class="ibox-content top10" id="demo2">
          <h2>المبيعات الشهرية</h2>
          <div class="demo-container">
            <div>
            
              <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="colors" chart-click="onClick"></canvas>
            </div>
          </div>
        </div>

                  
                  </div>
                  <div id="Confirmed" class="tab-pane fade">
                  
                  <div id="home" class="tab-pane fade in active">
                  
                   <div class="ibox-content top10" id="demo2">
          <h2>بيعات أسبوعية   </h2>
          <div class="demo-container">
            <div>
            
              <canvas class="chart chart-bar" chart-data="data" chart-labels="labelsforweek" chart-colors="colors" chart-click="onClick"></canvas>
            </div>
          </div>
        </div>

                  
                  </div>
                  </div>
          
              
               
                </div>
              </div>

</div>
      
      <!-- </div> -->
      <div class="col-lg-6 top15">
        <!-- begin col-3 -->
        <div class="col-lg-6">
          <a href="#/admin/customer">
          <div class="widgetn aqua-bg box-shadow">
            <div class="row">
              
              <div class="col-xs-8 text-left">
                <span style="font-family: " oxygen ", "Roboto Condensed ", sans-serif, Arial;"> مسجل اليوم
 </span>
                <h2 class="font-bold" style="font-family: " oxygen ", "Roboto Condensed ", sans-serif, Arial;">{{homedatas.NO_OF_NEW_CUSTOMERS}}</h2>
              </div>
              <div class="col-xs-4 text-center">
                <i class="fa fa-users fa-5x"></i>
              </div>
            </div>
          </div>
        </a>
        </div>
        <!-- begin col-3 -->
        <div class="col-lg-6">
          <a href="#/admin/neworder">
          <div class="widgetn white-bg box-shadow">
            <div class="row">
              
              <div class="col-xs-8 text-left">
                <span style="
    color:  black;
    font-size:  17px;
"> الطلبات الموضوعة اليوم  </span>
                <h2 class="font-bold">{{homedatas.NO_OF_NEW_ORDERS}}</h2>
              </div>
              <div class="col-xs-4">
                <i class="fa fa-shopping-cart fa-5x" style="
    color:  #394263;
"></i>
              </div>
            </div>
          </div>
        </a>
        </div>

        <!-- begin col-3 -->
        <div class="col-lg-6">
          <a href="#/admin/category">
          <div class="widgetn white-bg box-shadow">
            <div class="row">
            
              <div class="col-xs-8 text-left">
                <span style="
    color:  black;
    font-size:  17px;
"> الاقسام </span>
                <h2 class="font-bold">{{homedatas.NO_OF_CATEGORY}}</h2>
              </div>
                <div class="col-xs-4">
                <i class="fa fa-ticket fa-5x" style="
    color:  #394263;
"></i>
              </div>
            </div>
          </div>
        </a>
        </div>
        <!-- begin col-3 -->
        <div class="col-lg-6">
          <a href="#/admin/product">
          <div class="widgetn white-bg box-shadow">
            <div class="row">
             
              <div class="col-xs-8 text-left">
                <span style="
    color:  black;
    font-size:  17px;
">منتجات  </span>
                <h2 class="font-bold">{{homedatas.NO_OF_PRODUCTS}}</h2>
              </div>
               <div class="col-xs-4">
                <i class="fa fa-shopping-bag fa-5x" style="
    color:  #394263;
"></i>
              </div>
            </div>
          </div>
        </a>
        </div>
        <br>
        <!-- begin col-2 -->
        <div class="col-lg-4">
          <a href="#/admin/customer">
          <div class="widgetn box-shadow green-bg">
            <div class="row vertical-align">
              
              <div class="col-xs-9 text-left">
                <span style="
  
    font-size:  17px;
">مجموع المستخدمين </span>
                <h2 class="font-bold">{{homedatas.NO_OF_CUSTOMERS}}</h2>
              </div>
              <div class="col-xs-3">
                <i class="fa fa-user fa-2x"></i>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-lg-4">
          <a href="#/admin/neworder">
          <div class="widgetn box-shadow aqua-bg">
            <div class="row vertical-align">
             
              <div class="col-xs-9 text-left">
                <span style="
    
    font-size:  17px;
">مجموع الطلبيات </span>
                <h2 class="font-bold">{{homedatas.NO_OF_ORDERED}}</h2>
              </div>
               <div class="col-xs-3">
                <i class="fa fa-shopping-cart fa-2x"></i>
              </div>
            </div>
          </div>
        </a>
        </div>
        <!-- begin col-2 -->
        <div class="col-lg-4">
          <a href="#/admin/manufacture">
          <div class="widgetn box-shadow red-bg">
            <div class="row vertical-align" style="
    margin-bottom: 7px;
">
              
              <div class="col-xs-9 text-left">
                <span style="
  
    font-size:  17px;
">تصنع </span>
                <h2 class="font-bold">{{homedatas.NO_OF_MANUFACTURES}}</h2>
              </div>
              <div class="col-xs-3">
                <i class="fa fa-plane fa-2x"></i>
              </div>
            </div>
            <br>

          </div>
        </a>

        </div>
      </div>
      
    </div>
   
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 1704px; background-color: #f3f3f4;">
    <div class="row">
      <div class="col-lg-6 top15">
        <!-- begin col-3 -->

        <div class="col-lg-6">
          <a href="#/admin/customer">
          <div class="widgetn aqua-bg box-shadow">
            <div class="row">
              <div class="col-xs-4 text-center">
                <i class="fa fa-users fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span style="font-family: " oxygen ", "Roboto Condensed ", sans-serif, Arial;"> Registered Today</span>
                <h2 class="font-bold" style="font-family: " oxygen ", "Roboto Condensed ", sans-serif, Arial;">{{homedatas.NO_OF_NEW_CUSTOMERS}}</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
     
        <!-- begin col-3 -->
       
        <div class="col-lg-6">
           <a href="#/admin/neworder">
          <div class="widgetn white-bg box-shadow">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-shopping-cart fa-5x"style="
    color:  #394263;
"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> Orders Placed Today </span>
                <h2 class="font-bold">{{homedatas.NO_OF_NEW_ORDERS}}</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
       
        <!-- begin col-3 -->
      
        <div class="col-lg-6">
            <a href="#/admin/category">
          <div class="widgetn white-bg box-shadow">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-ticket fa-5x" style="
    color:  #394263;
"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> Categories</span>
                <h2 class="font-bold">{{homedatas.NO_OF_CATEGORY}}</h2>
              </div>
            </div>
          </div>
             </a>
        </div>
   
        <!-- begin col-3 -->
        
        <div class="col-lg-6">
          <a href="#/admin/product">
          <div class="widgetn white-bg box-shadow">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-shopping-bag fa-5x" style="
    color:  #394263;
"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span>Products</span>
                <h2 class="font-bold">{{homedatas.NO_OF_PRODUCTS}}</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
     
        <br>
        <!-- begin col-2 -->
        
        <div class="col-lg-4">
          <a href="#/admin/customer">
          <div class="widgetn box-shadow green-bg">
            <div class="row vertical-align">
              <div class="col-xs-3">
                <i class="fa fa-user fa-2x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <span>Total Users</span>
                <h2 class="font-bold">{{homedatas.NO_OF_CUSTOMERS}}</h2>
              </div>
            </div>
          </div>
            </a>
        </div>
       
     <!--  </div> -->
     
     
        <div class="col-lg-4">
           <a href="#/admin/neworder">
          <div class="widgetn box-shadow aqua-bg">
            <div class="row vertical-align">
              <div class="col-xs-3">
                <i class="fa fa-shopping-cart fa-2x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <span>Total Orders</span>
                <h2 class="font-bold">{{homedatas.NO_OF_ORDERED}}</h2>
              </div>
            </div>
          </div>
          </a>
        </div>
        
        <!-- begin col-2 -->
       
        <div class="col-lg-4">
           <a href="#/admin/manufacture">
          <div class="widgetn box-shadow red-bg">
            <div class="row vertical-align">
              <div class="col-xs-3">
                <i class="fa fa-plane fa-2x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <span>Manufactures</span>
                <h2 class="font-bold">{{homedatas.NO_OF_MANUFACTURES}}</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
     
      </div>
      <!-- Column Chart-->
  <!--     <div class="col-lg-6 top15">
      
        <div class="ibox-content top10" id="demo2">
          <h2>Monthly Sales</h2>
          <div class="demo-container">
            <div>
              
              <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="colors" chart-click="onClick"></canvas>
            </div>
          </div>
        </div>
      
      </div> -->
            <div class="col-lg-6 top15">
     <div class="container">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" ng-click="getallorders(1)" data-target="#home">Monthly Sales</a></li>
                  <li><a data-toggle="tab" ng-click="getallconfirmedorders(1)" data-target="#Confirmed">Weekly Sales</a></li>
                 
                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <!--  <h3>HOME</h3> -->
                   <div class="ibox-content top10" id="demo2">
          <h2>Monthly Sales</h2>
          <div class="demo-container">
            <div>
              <!--  <canvas id="barChart" height="264" width="528" style="width: 528px; height: 264px;"></canvas> -->
              <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="colors" chart-click="onClick"></canvas>
            </div>
          </div>
        </div>

                  
                  </div>
                  <div id="Confirmed" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                  <div id="home" class="tab-pane fade in active">
                    <!--  <h3>HOME</h3> -->
                   <div class="ibox-content top10" id="demo2">
          <h2>Weekly Sales</h2>
          <div class="demo-container">
            <div>
              <!--  <canvas id="barChart" height="264" width="528" style="width: 528px; height: 264px;"></canvas> -->
              <canvas class="chart chart-bar" chart-data="data" chart-labels="labelsforweek" chart-colors="colors" chart-click="onClick"></canvas>
            </div>
          </div>
        </div>

                  
                  </div>
                  </div>
          
              
               
                </div>
              </div>

</div>
    </div>
    <div class="col-md-12">
      <!--  >>{{colors}}<< -->
      <!--  0pppppppppppppppppppp   -->
      <!--  <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" 
 chart-colors="colors" chart-click="onClick"></canvas> -->
      <!-- iiiiiiiiiiiiiiiiiiiiii -->
    </div>
    <div class="clearfix"></div>
  </div>
</div>
