<div class="allshops">
  <!-- <div class="row">
<div class="col-md-12">
<img src="/public/script/www/img/online-store.png" style="width: 30px;">
 <h3 class="head">My Shop's</h3> </div>
 </div>
margin-left: 54px;
    padding-right: 125px;
 -->
  <div class="row">
    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
      <div class="box-header head">
        <img src="/public/script/www/img/tags.png" style="width: 30px;">
        <h3 class="box-title">My Shop's</h3>
      </div>
      <div class="box-header">
        <h3 class="box-title"></h3>
        <a class="btn btn-default viewproduct" href="#/addshop/0">Add shop</a>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col list-style-type">
      <div ng-init="tableview=false;itembox=true" style="float: right;
    margin-top: 22px;">
        <!--  <button class="form-control btn btn-default"> -->
        <a ng-click="tableview=true" ng-class="{active:tableview}">
                    <span class="glyphicon glyphicon-th green-color"></span>
                </a>
        <a ng-click="tableview=false" ng-class="{active:!tableview}">
                    <span class="glyphicon glyphicon-th-list green-color"></span>
                </a>
        <!-- </button> -->
      </div>
    </div>
  </div>
  <!-- <div class="box-header">
             <img src="/public/script/www/img/online-store.png" style="width: 30px;"> <h3 class="box-title">My Shop's</h3>
              

             
            </div> -->
  <div ng-show="!tableview">
    <div ng-show="!shopList.length">
      <p style="text-align: center;"> No Data To Show</p>
    </div>
    <div ng-show="shopList.length">
      <div class="box">
        <!--  <div class="box-header">
             <img src="/public/script/www/img/online-store.png" style="width: 30px;"> <h3 class="box-title">My Shop's</h3>
              

             
            </div> -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Shop Type Name</th>
                <th>Shop Name</th>
                <!--  <th>{{Shop City}}</th> -->
                <th></th>
                <th>Total Products</th>
                <th></th>
              </tr>
              <tr ng-repeat="shop in shopList" ng-if="shop">
                <td>{{shop.shopTypeName}}</td>
                <td>{{shop.shopName}}</td>
                <!--  <td>{{shop.city}}</td> -->
                <td><a href="#/addshop/{{shop.shopId}}">Edit</a></td>
                <td>10</td>{{shop.shopId}}
                <!--  <td><button class="btn btn-default viewproduct" ng-click="gotopageproducts(shop.shopId)">View products</button></td> -->
                <td><a class="btn btn-default viewproduct" href="#/app/userproducts/{{shop.shopId}}">View products</a></td>
                <!-- ng-click="getproducts(0,shop.shopId);style1=style"  -->
                <!--   href="#/app/adminshops"-->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="!nomore" class="loadmore" ng-click="moreuserdata();">
        <p>Load More</p>
      </div>
      <div ng-if="nomore" class="loadmore">Completed</div>
    </div>
  </div>
  <div class="all-shops" ng-show="tableview">
    <!-- <div class="col-md-12"> -->
    <div ng-show="!shopList.length">
      <p style="text-align: center;"> No Data To Show</p>
    </div>
    <div ng-show="shopList.length">
      <div class="row">
        <div  ng-if="shop" ng-repeat="shop in shopList">
          <div class="col-lg-2 col-md-3  col-sm-4 col-xs-12 product_box" style="padding:3px;">
              <div class="thumbnail thumbnail-box shop_box">
                <a href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}" style="    text-decoration: none;">
                  <!-- <div class="similar-img" style="background-image: url(/public/script/www/img/add/3.jpg);">
                </div> -->
                  <div style="height: 150px;">
                    <div ng-repeat="pic in shop.featureOrPhotos|limitTo: 1" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{fileupConstant}}/{{pic.data}});">
                    </div>
                  </div>
                  <div class="caption caption-box">
                    <div class="row">
                      <!-- <div class="col-md-8">
                                                    <button class="btn-success" ng-style="style1" ng-click="getproducts(0,shop.shopId);style1=style">View products</button></div>
                                                    <div class="col-md-4">
                                                    <button class="btn-success" ng-style="style1" ng-click="getproducts(0,shop.shopId);style1=style">View products</button></div> -->
                      <!--  <h6><a href="#/addshop/{{shop.shopId}}">Edit</a></h6> -->
                      <div class="row border-colour">Click for More</div>
                      <!-- <div class="row border-colour"><button ng-click="getproducts(0,shop.shopId);style1=style" style="    background-color: #7dad47;" class="col-md-8">View products</button>
                                                    <button href="#/addshop/{{shop.shopId}}" class="col-md-4"
                                                    style="background-color: #ffc233;" >Edit</button>
                                                    </div> -->
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">
                        {{shop.shopTypeName}}</div>
                      <i class="fa fa-heart-o icon-like" aria-hidden="true"></i>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                        <p><a class=" font-size-contents" href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}"><b >{{shop.shopName}}</b></a>
                        </p>
                        <span class="icon-rate-allshops-user">{{shop.rating}}/5</span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  border-bottom-style" style="font-size: 9px;">
                        {{shop.address}}
                      </div>
                      <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 border-left-style" style="font-size: 9px;">
                        <div class="row">
                          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                            <img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png">
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding-left: 0px; ">
                            {{shop.phoneNo}}
                          </div>
                          <div class="col-md-5"></div>
                        </div>
                      </div>
                      <!-- <div class="ratings"> -->
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color">Specials
                        <div ng-repeat="pic in shop.featureOrPhotos" ng-show="pic.modeType===7" ng-if="$index<3" class="shop_feature">{{pic.extraData}}
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style-allshopbyuser">
                        <p><b class=" font-size-contents">{{shop.priceStarts}}</b><i class="fa fa-inr fainr-allshopbyuser"></i></p>
                      </div>
                    </div>
                </a>
              </div>
            </div>

              <a href="#/addshop/{{shop.shopId}}">Edit</a>
              <a class="btn btn-default viewproduct btn-view-product" href="#/app/userproducts/{{shop.shopId}}">View products</a>
              <br>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!nomore" class="loadmore" ng-click="moreuserdata();">
      <p>Load More</p>
    </div>
    <div ng-if="nomore" class="loadmore">Completed</div>
  </div>
</div>
