<div class="allshops">
  <!-- <div class="row">
<div class="col-md-12">
<img src="/public/script/www/img/online-store.png" style="width: 30px;">
 <h3 class="head">My Shop's</h3> </div>
 </div>
margin-left: 54px;
    padding-right: 125px;
 -->
  <div class="row">
    <div class="col-md-8">
      <div class="box-header head">
        <img src="/public/script/www/img/tags.png" style="width: 30px;">
        <h3 class="box-title">All Shop's</h3>
      </div>
    </div>
  </div>
  <div class="all-shops">
    <!-- <div class="col-md-12"> -->
    <div ng-show="!allshops.length">
      <p style="text-align: center;"> No Data To Show</p>
    </div>
    <div ng-show="allshops.length">
      <div class="row">
        <div  ng-repeat="shop in allshops" style="padding:3px;" class="col-lg-2 col-md-3  col-sm-4 col-xs-12 product_box" ng-if="shop">
          <!-- <div class="row" style="padding:2px"> -->
            <div class="thumbnail thumbnail-box">
              <a href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}" style="    text-decoration: none;">
                <!--  <a href="#/app/viewshop/{{shop.shopId}}{{shop.shopType}}" style="    text-decoration: none;"> -->
                <!-- img="/public/script/www/img/sun.png" -->
                <img class="sunside shop_sunside" src="/public/script/www/img/33.png" style="width:99%">
                <div style="height:150px;">
                
                  <div ng-repeat="pic in shop.featureOrPhotos|limitTo: 1" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{fileupConstant}}/{{pic.data}});">
                  </div>
                </div>
                <div class="caption caption-box">
                  <div class="row">
                    <div class="row border-colour">Click for More</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">{{shop.shopTypeName}}</div>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">
                                  {{shop.shopTypeName}}</div> -->
                    <i class="fa fa-heart-o icon-like" aria-hidden="true"></i>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                      <p>
                        <!-- <a class=" font-size-contents" href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}"> --><b class="font-size-contents">{{shop.shopName}}</b>
                        <!-- </a> -->
                      </p>
                      <span class="icon-rate-allshops-user">{{shop.rating}}/5</span>
                    </div>
                    <!-- city-padding -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  border-bottom-style" style="font-size: 9px;">
                      {{shop.address}}
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 border-left-style" style="font-size: 9px;">
                      <div class="row">
                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                          <img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding-left: 0px; ">
                          {{shop.phoneNo}}
                        </div>
                        <div class="col-md-5"></div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color">Specials
                      <div ng-repeat="pic in shop.featureOrPhotos" ng-show="pic.modeType===7" ng-if="$index<3" class="shop_feature">{{pic.extraData}}
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style">
                      <!-- <p style="margin-top: 14px;"><b class=" font-size-contents">{{shop.priceStarts}}</b><i class="fa fa-inr" style="font-size:10px;color:black"></i></p> -->
                      <p style="margin-top: 14px;"><b class=" font-size-contents ">{{shop.priceStarts}}</b><i class="fa fa-inr price-tag-home"></i></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- <div class="thumbnail thumbnail-box">
              <a href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}" style="    text-decoration: none;">
                
                <div ng-repeat="pic in shop.featureOrPhotos" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{pic.data}});">
                </div>
                <div class="caption">
                  <div class="row">
                   
                    <div class="row border-colour">Click for More</div>
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">
                      {{shop.shopTypeName}}</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                      <p><a class=" font-size-contents"><b >{{shop.shopName}}</b></a>
                      </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-bottom-style" style="font-size: 9px;">
                      <p>{{shop.address}}</p>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-left-style" style="font-size: 9px;">
                      <div class="row">
                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                          <img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding-left: 0px; ">
                          <p>{{shop.phoneNo}}</p>
                        </div>
                        <div class="col-md-5"></div>
                      </div>
                    </div>
                  
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color">Specials
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style">
                      <p><b class=" font-size-contents">{{shop.priceStarts}}</b><i class="fa fa-inr" style="font-size:10px;color:black"></i></p>
                    </div>
                  </div>
                </div>
              </a>
            </div> -->
        <!--   </div> -->
        </div>
      </div>
    </div>
    <div ng-if="!nomoreall" class="moredata">
      <a ng-click="moredata();">Load More</a></div>
  </div>
  <div ng-if="nomoreall" class="moredata">Completed</div>
</div>
