<div class="col-md-8">
  <div class="box">
    <div class="box-header">
      <!-- <img src="/public/script/www/img/online-store.png" style="width: 30px;"> -->
      <h3 class="box-title">Subcategory</h3>
    </div>
    <div class="all-shops">
      <!-- <div class="col-md-12"> -->
      <div ng-show="!shopList.length">
        <p style="text-align: center;"> No Data To Show</p>
      </div>
      <div ng-show="shopList.length">
        <div class="item" ng-repeat="shop in shopList" ng-class="{ active:$index==0}">
          <div class="col-lg-2 col-md-3  col-sm-6 col-xs-12 product-box">
            <div class="row">
              <div class="thumbnail thumbnail-box">
                <a href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}" style="    text-decoration: none;">
                  <!-- <div class="similar-img" style="background-image: url(/public/script/www/img/add/3.jpg);">
                                </div> -->
                  <div ng-repeat="pic in shop.featureOrPhotos" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{pic.data}});">
                  </div>
                  <div class="caption">
                    <div class="row">
                      <!-- <div class="col-md-8">
                                                    <button class="btn-success" ng-style="style1" ng-click="getproducts(0,shop.shopId);style1=style">View products</button></div>
                                                    <div class="col-md-4">
                                                    <button class="btn-success" ng-style="style1" ng-click="getproducts(0,shop.shopId);style1=style">View products</button></div> -->
                      <!--  <h6><a href="#/addshop/{{shop.shopId}}">Edit</a></h6> -->
                      <div class="row border-colour">Click for More</div>
                      <!-- <div class="row border-colour"><button ng-click="getproducts(0,shop.shopId);style1=style" style="    background-color: #7dad47;" class="col-md-8">View products</button>
                                                    <button href="#/addshop/{{shop.shopId}}" class="col-md-4"
                                                    style="background-color: #ffc233;" >Edit</button>
                                                    </div> -->
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">
                        {{shop.shopTypeName}}</div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                        <p><a class=" font-size-contents"><b >{{shop.shopName}}</b></a>
                        </p>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-bottom-style" style="font-size: 9px;">
                        <p>{{shop.address}}</p>
                      </div>
                      <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-left-style" style="font-size: 9px;">
                        <div class="row">
                          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                            <!-- <div class="phn-img" style="background-image: url(/public/script/www/img/color/phone-receiver.png");">
                                                
                                                </div> --><img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png">
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding-left: 0px; ">
                            <p>{{shop.phoneNo}}</p>
                          </div>
                          <div class="col-md-5"></div>
                        </div>
                      </div>
                      <!-- <div class="ratings"> -->
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color">Specials
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style">
                        <p><b class=" font-size-contents">{{shop.priceStarts}}</b><i class="fa fa-inr" style="font-size:10px;color:black"></i></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Shop Name</th>
                    </tr>
                        <tr ng-repeat="shop in shopArray">
                            <td>{{shop.shopName}}</td>
                            
                            
                        </tr>
                    </tbody>
                </table>
            </div> -->
  </div>
</div>
