 <div class="col-md-8">
           <div class="box">
             <div class="box-header">
             <!-- <img src="/public/script/www/img/online-store.png" style="width: 30px;"> --> <h3 class="box-title">Subcategory</h3>
              

             
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Product Name</th>
                    </tr>
                        <tr ng-repeat="product in productArray">
                            <td>{{product.productName}}</td>
                            
                            <!-- ng-click="getproducts(0,shop.shopId);style1=style"  -->
                           <!--   href="#/app/adminshops"-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>