
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>City Management - إدارة المدينة</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
               <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">
                                    <div class="col-lg-2 ">
                                        <a href="#/admin/addcity/0" class="btn btn-block btn-success " role="button">Add City </a>
                                    </div>
                                    
                                    <div class="col-lg-3  pull-right">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="citySearch" />
                                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-responsive">

                                        <tr>
                                            <th>#</th>
                                            <th>City Name </th>
                                            <th>Country</th>
                                            <th>Status </th>
                                                                                     
                                            <th>Actions</th>
                                            
                                        </tr>

                                        <tr data-ng-repeat="city in cities | filter:citySearch">

                                        <td>{{$index+1}}.</td>
                                        <td>{{city.cityName}}</td>
                                        <td>{{city.countryName}}</td>
                                       
                                        
                                            <td data-ng-if="city.citusStatus==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Deactivated</span>
                                </div>
                            </td>
                            <td data-ng-if="city.citusStatus==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Active</span>
                                </div>
                            </td>

                      
                                        
                                        
                                        <th><a data-ng-click="ViewCity(city)"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="citymanage(city)"><i class="fa fa-pencil text-aqua"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>   
                                        

                                        </tr>

                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>

              <!-- /form input knob -->

        




          </div>
        </div>
        <!-- /page content -->

            

       