
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Seller Management </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
             <div class="row">
                    <div class="col-lg-11">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">
                                    <div class="col-lg-3">
                                        
                                        <a href="#/admin/addseller/0" class="btn btn-block btn-success" role="button">Add
                                Seller</a>
                                    </div>
                                    
                                    <div class="col-lg-3  pull-right">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="sellerSearch" />
                                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-responsive">

                                        <tr>
                                            <th>#</th>
                                            <th>seller Name </th>
                                            <th>City</th>
                                            <th>Country</th>
                                            <th>PhoneNumber </th>
                                            <th>Status </th>
                                            <th>Total Sale Amount </th>
                                            <th>Actions</th>
                                            
                                        </tr>

                                        <tr ng-repeat="seller in sellers">

                                        <td>{{$index+1}}.</td>
                                        <td>{{seller.sellerName}}</td>
                                        <td>{{seller.city}}</td>
                                        <td>{{seller.countryName}}</td>
                                        <td>{{seller.phoneNumber}}</td>
                                         <td data-ng-if="seller.status==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Active</span>
                                </div>
                            </td>
                            <td data-ng-if="seller.status==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Deactivated</span>
                                </div>
                            </td>
                            <td>{{seller.netAmount}}</td>


                                                                                    
                                        <th><!-- <a href="#/admin/viewseller"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a a href="#/admin/editseller"><i class="fa fa-pencil text-aqua"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-click="showDiscontinueseller($index)"><i class="fa fa-trash-o text-red"></i></a> -->
                                         <a ng-click="viewseller(seller)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="sellermanage(seller)" href=""><i class="fa fa-pencil text-aqua"></i></a><a ng-click="sellerstatistics(seller)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Statistics</span>
                                <!-- <i class="fa fa-pencil text-aqua"></i> --></a>
</th>   
                                        

                                        </tr>

                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>

              <!-- /form input knob -->

        




          </div>
        </div>
        <!-- /page content -->

            

       