<div class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>ADMIN</h1>
              <div class="form-group">
                  <label for="signin-email" class="control-label sr-only">Email</label>
                  <input type="email" class="form-control" id="email"  ng-model="user.email" placeholder="Email">
                </div>
              <div class="form-group">
                  <label for="signin-password" class="control-label sr-only">Password</label>
                  <input type="password" class="form-control" ng-model="user.password" id="password"  placeholder="Password" >
                </div>
              <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="login(user);">LOGIN</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <!-- <p class="change_link">New to site? -->
                 <!--  <a href="#signup" class="to_register"> Create Account </a>
                </p>
 -->
                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-shopping-cart"></i>  LeanSouq</h1>
                 <!--  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p> -->
                </div>
              </div>
            </form>
          </section>
        </div>

        <!-- <div id="register" class="animate form registration_form"> -->
          <!-- <section class="login_content">
            <form>
              <h1>Create Account</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <a class="btn btn-default submit" href="index.html">Submit</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <!-- <p class="change_link">Already a member ? -->
                <!--   <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />
 -->
                <!-- <div>
                  <h1><i class="fa fa-paw"></i> LeanSouq</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div> -->
             <!--  </div> -->
            <!-- </form> -->
          <!-- </section> --> 
        </div>
      </div>
    </div>
  </div>