<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default" style="border-color: #7dad47;">
    <div class="panel-body">
      <form ng-submit="register(user)">
      <div class="" ng-if="!signup" style="padding-bottom: 18px;
    text-align: center;
    color: red;">
      {{errormsg}}
      </div>
        <div class="row">
          <div class="col-md-4">
            <span class="input-label ">First Name</span>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" ng-model="user.first_name">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <span class="input-label ">Last Name</span>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" ng-model="user.last_name">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <span class="input-label ">Phone Number</span>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="number" ng-model="user.phone">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <span class="input-label ">Password</span>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="password" ng-model="user.password">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <span class="input-label ">Confirm Password</span>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="password" ng-model="user.confirmpassword">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <span class="input-label ">Email Id</span>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="email" ng-model="user.email_id">
          </div>
        </div>
        <br>
        <div class="col-md-6 col-md-offset-3">
          <button class="button button-block button-positive form-control" type="submit" style="font-size: 17px;
    font-weight: 600;
    color: white;
    background-color: #fcb42c;
    border-color: #fcb42c;">Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
