<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 100vh;">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-sm-6">
          <div class="block">
            <div class="block-title">
              <h2><i class="fa fa-building-o"></i> <strong>Customer</strong> Details</h2>
            </div>
            <h4><strong>{{customerifo.customerName}}</strong></h4>
            <address>
              {{customerifo.address}}<br>
              {{customerifo.cityName}}<br>
              {{customerifo.countryName}}<br>
              <i class="fa fa-phone"></i> {{customerifo.phoneNo}}<br>
              <i class="fa fa-envelope-o"></i> {{customerifo.emailId}}
            </address>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="block" style="min-height: 202px;">
            <div class="block-title">
              <h2><i class="fa fa-building-o"></i> <strong>Return</strong> Reason</h2>
            </div>
            <address>
              <span><strong style=" margin-right:  16px;">{{returnReason}} </strong></span>
            </address>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 ">
          <div class="block">
            <div class="block-title">
              <h2><i class="fa fa-file-o"></i> <strong>Order</strong> Details</h2>
            </div>
            <table class="table table-borderless table-striped table-vcenter">
              <tbody>
                <tr>
                  <td class="text-right"><strong>Order ID</strong></td>
                  <td>{{returnOrder.orderId}}</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>Product Name</strong></td>
                  <td>{{returnOrder.itemName}}</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>Item Price</strong></td>
                  <td>{{returnOrder.itemPrice}}</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>Offer</strong></td>
                  <td>
                    <span ng-if="returnOrder.offerId==0">No Offer</span>
                    <span ng-if="returnOrder.offerId!=0">{{returnOrder.offerName}}<br>
                    <span ng-if="returnOrder.offerRate==0">({{returnOrder.offerPercentage}} %)</span>
                    <span ng-if="returnOrder.offerRate!=0">({{returnOrder.offerRate}} SAR)</span>
                    </span>
                  </td>
                </tr>
                <tr ng-if="returnOrder.offerId!=0">
                  <td class="text-right"><strong>Price After Offer</strong></td>
                  <td>{{returnOrder.totalAmountIncludingOffer}} SAR</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>Shipping Charge</strong></td>
                  <td>{{returnOrder.shippingCharge}} SAR</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>Total Price</strong></td>
                  <td>{{finalPrice}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir=rtl>
    <div class="rightarab_col" role="main" style="min-height: 100vh;">
      <div class="">
        <div class="clearfix"></div>
        <div class="row">
           <div class="col-sm-6">
          <div class="block" style="min-height: 202px;">
            <div class="block-title">
              <h2><i class="fa fa-building-o"></i> <strong>سبب  </strong> العودة </h2>
            </div>
            <address>
              <span><strong style=" margin-right:  16px;">{{returnReason}} </strong></span>
            </address>
          </div>
        </div>
          <div class="col-sm-6">
            <div class="block">
              <div class="block-title">
                <h2><i class="fa fa-building-o"></i> تفاصيل <strong>زبون  </strong> </h2>
              </div>
              <h4><strong>{{customerifo.customerName}}</strong></h4>
              <address>
                {{customerifo.address}}<br>
                {{customerifo.cityName}}<br>
                {{customerifo.countryName}}<br>
                <i class="fa fa-phone"></i> {{customerifo.phoneNo}}<br>
                <i class="fa fa-envelope-o"></i> {{customerifo.emailId}}
              </address>
            </div>
          </div>
        </div>
         <div class="row">
        <div class="col-md-8 col-md-offset-2 ">
          <div class="block">
            <div class="block-title">
              <h2><i class="fa fa-file-o"></i> <strong>تفاصيل  </strong> الطلب </h2>
            </div>
            <table class="table table-borderless table-striped table-vcenter">
              <tbody>
                <tr>
                  <td class="text-right"><strong>رقم الطلب  </strong></td>
                  <td>{{returnOrder.orderId}}</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>اسم المنتج </strong></td>
                  <td>{{returnOrder.itemName}}</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>سعر المنتج </strong></td>
                  <td>{{returnOrder.itemPrice}}</td>
                </tr>
                <tr>
                  <td class="text-right"><strong>عرض  </strong></td>
                  <td>
                    <span ng-if="returnOrder.offerId==0">No Offer</span>
                    <span ng-if="returnOrder.offerId!=0">{{returnOrder.offerName}}<br>
                    <span ng-if="returnOrder.offerRate==0">({{returnOrder.offerPercentage}} %)</span>
                    <span ng-if="returnOrder.offerRate!=0">({{returnOrder.offerRate}} ساره )</span>
                    </span>
                  </td>
                </tr>
                <tr ng-if="returnOrder.offerId!=0">
                  <td class="text-right"><strong>السعر بعد العرض   </strong></td>
                  <td>{{returnOrder.totalAmountIncludingOffer}} ساره </td>
                </tr>
                <tr>
                  <td class="text-right"><strong>رسوم الشحن  </strong></td>
                  <td>{{returnOrder.shippingCharge}} ساره </td>
                </tr>
                <tr>
                  <td class="text-right"><strong>السعر الكلي  </strong></td>
                  <td>{{finalPrice}} ساره</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
