<ion-view view-title="Subcategories">
  <ion-content>
     <ion-list class="catsitems">
            <a ng-repeat="subcat in subcategories" class="item   item-icon-right catsitem" href="#/app/posts/{{catId}}/{{subcat.subcatId}}">

                <h2>{{subcat.subcatName}} </h2>
                <i class="icon icon-left ion-arrow-right-b"></i>
            </a>
        </ion-list>
  </ion-content>
</ion-view>
