
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Order Management </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">
                                    <div class="col-lg-2 ">
                                       
                                        <a href="#/admin/deliveredorders" class="btn btn-block btn-success " role="button">Delivered Orders </a>
                                    </div>
                                    
                                    <div class="col-lg-3  pull-right">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="countrySearch" />
                                            <span class="input-group-btn ">
                        <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                      </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-responsive table-striped">

                                        <tr>
                                            <th>#</th>
                                            <th>Order ID </th>
                                            <th>Seller ID </th>
                                            <th>No.of Items </th>
                                             <th>Net Price </th>
                                              <th>Status </th>
                                                                                     
                                            <th>Actions</th>
                                            
                                        </tr>
                                        

                                        <tr data-ng-repeat="order in orders |filter:countrySearch">

                                        <td>{{$index+1}}.</td>
                                        <td>{{order.orderId}}</td>
                                         <td>{{order.sellerId}}</td>
                                          <td>{{order.numberOfItems}}</td>
                                           <td>{{order.netPrice}}</td>
                                        
                                        <td data-ng-if="order.orderStatus==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">ORDERED</span>
                                </div>
                            </td>
                            <td data-ng-if="order.orderStatus==2">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">CONFIRMED</span>
                                </div>
                            </td>
                            <td data-ng-if="order.orderStatus==3">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                </div>
                            </td>
                            <td data-ng-if="order.orderStatus==4">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">DELIVERED</span>
                                </div>
                            </td>
                            <td data-ng-if="order.orderStatus==5">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">CANCELED</span>
                                </div>
                            </td>
                             <td data-ng-if="order.orderStatus==6">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">PICKED</span>
                                </div>
                            </td>
                            <!-- <td data-ng-if="order.orderStatus==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">fddf</span>
                                </div>
                            </td> -->
                            
                                        
                                        
                                        <th><a ng-click="ViewOrderdetails(order)"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="countrymanage(country)"><i class="fa fa-pencil text-aqua"></i></th>   
                                        

                                        </tr>

                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>
              <!-- /form input knob -->

        




          </div>
        </div>
        <!-- /page content -->

            

       